<template>
  <main class='about-page-container article-layout'>
    <article>
      <h1>Bob & Pesto</h1>
      <div class='about-page-body article-body'>
        <section class='about-page-bob-pesto-description-container'>
          <div class='about-image-container'>
            <picture class='about-image-picture'>
              <source :srcset="`${this.src.replace('.jpg','_small_avif.avif')}, ${this.src.replace('.jpg', '_small_avif-2x.avif')} 2x`" media="(max-width:500px)" type="image/avif" />
              <source :srcset="`${this.src.replace('.jpg', '_small.jpg')}, ${this.src.replace('.jpg', '_small-2x.jpg')} 2x`" media="(max-width:500px)" type="image/jpg" />
              <source :srcset="`${this.src.replace('.jpg', '_medium.jpg')}, ${this.src.replace('.jpg', '_medium-2x.jpg')} 2x`" media="(max-width:1500px)" type="image/jpg" />
              <source :srcset="`${this.src}, ${this.src.replace('.jpg', '-2x.jpg')} 2x`" media="(min-width:1500px)" type="image/jpg" />
              <img class='about-image' :src='this.src' alt='Bob et pesto sur la plage, le sourire aux lèvres 🙂' width="400" height="400" loading="lazy" decoding="async">
            </picture>
          </div>
          <ul class="bob-pesto-description arrow-list-container">
            <li class='bob-description'>
              <span class="bob-pesto-description-text">
                Marlène alias <b>Bob</b> (t’as la ref ?), 27 ans (en 2021) et infirmière (intéressée davantage par le secteur psychiatrique). Nantaise pur beurre.
              </span>
              <img class="bob-pesto-description-arrow" src="https://res.cloudinary.com/djchx0gtn/image/upload/v1638120758/about/about_arrow.svg" width="170" height="121" alt="arrow directed to bob" aria-hidden="true">
            </li>
            <li class='pesto-description'>
              <span class="bob-pesto-description-text">
                Florian alias <b>Pesto</b>, 28 ans (en 2021) et ingénieur en informatique. Né à Nantes et a vécu son adolescence dans le sud-ouest de la France : à Pau !
              </span>
              <img class="bob-pesto-description-arrow" src="https://res.cloudinary.com/djchx0gtn/image/upload/v1638120758/about/about_arrow.svg" width="170" height="121" alt="arrow directed to bob" aria-hidden="true">
            </li>
          </ul>
        </section>
        <section>
          <p class="about-social-network-container">
            <ul class="about-social-network-list">
              <li>
                <span class="about-social-network">🌏</span> 
                <nuxt-link tag='a' type="a" :to="{ path: '/'}">
                  bob-pesto.com
                </nuxt-link>
              </li>
              <li>
                <span class="about-social-network">✉</span>
                <a href="mailto:bob.et.pesto@gmail.com" rel="no-follow noopener">bob.et.pesto@gmail.com</a>  
              </li>
              <li>
                <img class="about-social-network instagram-logo" src="https://res.cloudinary.com/djchx0gtn/image/upload/v1638120758/about/about_instagram_logo.svg" alt="instagram logo" width="20" height="20">
                <a href="https://www.instagram.com/invites/contact/?i=47no798ha4ab&utm_content=n2y5ekq" target="_blank" rel="no-follow noopener">@bob.pesto</a>
              </li>
            </ul>
          </p>
        </section>
        <section>
          <h2>
            L’histoire
          </h2>
          <p>
            Nous nous connaissons depuis le collège, et en couple depuis quelques années, nous avons comme point commun : <b>le voyage</b> !
            Après avoir démissionné, nous sommes partis en Asie du Sud Est en décalé (Pesto en fin septembre 2018 et Bob en janvier 2019) car Bob ne pouvait pas quitter son travail plus tôt.
          </p>
          <p>
            Pendant le voyage, nous nous sommes aidés en nous documentant à travers divers blogs et ne trouvant pas toujours les informations que nous voulions, nous nous sommes lancés (nous aussi) dans notre propre blog afin d’aider également les backpackeurs.
            Nous espérons donc que vous apprécierez celui-ci car on ne va pas se mentir, c’est notre petit bébé !
          </p>
        </section>
        <section>
          <h2>
            Notre manière de voyager
          </h2>
          <p>
            Dans le voyage, nous aimons particulièrement la nature, les rencontres et surtout… <b>les spécialités culinaires</b> !
            Nous ne sommes pas spécialement fans de musées ou autres. Nous préférons les petites villes (et encore plus les villages), et les sentiers en terre battue.
            Notre état d’esprit est plutôt « roots », nous privilégions également les petites chambres plutôt que les gros hôtels.
          </p>
          <!-- <p>
            En retour de voyage, nous avons repris un emploi pour pouvoir repartir avec les poches un petit peu plus pleines qu’à notre retour !
            S’en est suivi du covid, qui a donc retardé notre départ… Mais notre envie de voyager reste intact, grand voyage prévu en 2022 !
          </p> -->
        </section>
        <section>
          <h2>
            Comment nous contacter ?
          </h2>
          <p>
            En plus du blog, nous avons une page instagram <a href="https://www.instagram.com/invites/contact/?i=47no798ha4ab&utm_content=n2y5ekq" target="_blank" rel="no-follow noopener">@bob.pesto</a>,  n’hésite pas à t’abonner ! 
            Si tu as des questions, des choses à redire sur des articles ou simplement une envie de parler de voyage, n’hésites surtout pas à nous contacter à cette adresse mail : <a href="mailto:bob.et.pesto@gmail.com" rel="no-follow noopener">bob.et.pesto@gmail.com</a>. Nous te répondrons avec grand plaisir !            </p>
        </section>
      </div>
    </article>
  </main>
</template>

<script>
export default {
  name: 'About',
  data: function () {
    return {
      src:'https://res.cloudinary.com/djchx0gtn/image/upload/v1638109852/about/about-page_profile.jpg',
      title: 'Qui sommes nous ?'
    }
  },
  head () {
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description: `Notre histoire, notre manière de voyage, comment nous remonter un problème ou tout simplement nous contacter ? La réponse est dans cette page 🙂`,
          image: { src: 'about', alt: `Bob et Pesto en mode selfie allongés sur le sable en train de sourire et de saluer la caméra` },
          title: `${this.title} | Bob & Pesto`,
          type: 'website',
          url: 'a-propos',
        },
        true
      )
    }
  }
}
</script>

<style lang="scss" scoped>
@import './../../assets/style/articleLayoutMixin.scss';

@include article-layout;
.about-page-container.article-layout {
  padding-bottom: unset;

  .about-page-body.article-body {
    padding-bottom: unset;
  }
} 

.about-page-container {
  --image-height: 400px;

  .about-page-bob-pesto-description-container {
    padding-bottom: 3rem;
  }

  h1 {
    color: var(--theme-primary-color-light);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 4rem;
    text-align: center;
  }

  .about-page-body {
    position: relative;

    .about-image-container, .bob-pesto-description {    
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      width: 100%;
    }

    .about-image-container {
      position: absolute;    

      .about-image-picture {
        grid-column: 2 / span 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .about-image {
          border-radius: 100%;
          width: var(--image-height);
          height: var(--image-height);
        }
      }
    }

    .bob-pesto-description {
      height: var(--image-height);
      list-style-type: none;
      padding-left: 0;

      li::before {
        display: none;
      }

      .bob-description, .pesto-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .bob-pesto-description-text {
          padding-bottom: 1.25rem;
          border-bottom: solid 4px rgba(var(--theme-primary-color-light-rgb), 0.4);
        }

        .bob-pesto-description-arrow {
          flex: 0.5;
          place-self: flex-end;
        }
      }

      .bob-description {
        grid-column: span 1;
      }

      .pesto-description {
        grid-column: 3 / span 1;

        .bob-pesto-description-arrow {
          place-self: flex-start;
          transform: rotateY(180deg);
        }
      }
    }

    .about-social-network-container {
      .about-social-network-list {
        display: flex;
        align-items: center;
        justify-content: space-around;

        list-style-type: none;

        > * {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        .about-social-network {
          margin-right: 5px;
          &.instagram-logo {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}

/** Large screen **/
@media screen and (min-width: 1100px) and (max-width: 1550px) {
  .about-page-container {
    --image-height: 300px;

    .about-page-bob-pesto-description-container {
      padding-bottom: 2rem;
    }
  }
}

/** Medium screen **/
@media screen and (min-width: 500px) and (max-width: 1100px) {
  .about-page-container {
    --image-height: 300px;

    .about-page-bob-pesto-description-container {
      padding-bottom: 2rem;
    }

    .about-page-body {
      .about-image-container {
        position: inherit;
      }
      
      .bob-pesto-description {
        height: auto;
        padding-left: 0;
      }

      .bob-pesto-description-arrow {
        display: none;
      }
    }
  }
}

/** Small screen **/
@media screen and (max-width: 500px) {
  .about-page-container {
    .about-page-bob-pesto-description-container {
      padding-bottom: 0;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: revert;
    }

    .about-page-body {
      .about-image-container {
        display: inherit;
        position: inherit;

        margin-bottom: 1rem;
        text-align: center;

      .about-image-picture .about-image {
          border-radius: unset;

          display: block;
          margin-left: auto;
          margin-right: auto;

          max-height: 100%;
          max-width: 100%;
          height: auto;
          width: auto;
        }
      }

      .bob-pesto-description {
        display: revert;
        height: auto;
        padding-left: 0.8rem;

        li::before {
          display: inline-block;
        }

        .bob-description, .pesto-description {
          list-style-position: inside; 
          display: list-item;
          margin-bottom: 1.5rem;

          .bob-pesto-description-text {
            padding: initial;
            border: none;
          }
        }

        .bob-pesto-description-arrow {
          display: none;
        }
      }

      .about-social-network-container {
        display: flex;
        justify-content: center;

        .about-social-network-list {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          padding: 1rem 0;
          width: fit-content;
          li {
            display: inline-flex;
            justify-content: unset;
          }
        }
      }
    }
  }
}

</style>
