<template>
  <div class="image-container">
    <picture>
      <source :srcset="`${this.src.replace('.jpg','_small_avif.avif')}, ${this.src.replace('.jpg', '_small_avif-2x.avif')} 2x`" media="(max-width:500px)" type="image/avif" />
      <source :srcset="`${this.src.replace('.jpg', '_small.jpg')}, ${this.src.replace('.jpg', '_small-2x.jpg')} 2x`" media="(max-width:500px)" type="image/jpg" />
      <source :srcset="`${this.src.replace('.jpg', '_medium.jpg')}, ${this.src.replace('.jpg', '_medium-2x.jpg')} 2x`" media="(max-width:1500px)" type="image/jpg" />
      <source :srcset="`${this.src}, ${this.src.replace('.jpg', '-2x.jpg')} 2x`" media="(min-width:1500px)" type="image/jpg" />
      <img :src='this.src' :alt='this.alt' width="400" height="300" loading="lazy" decoding="async">
    </picture>
    <div class='image-description'>
      {{this.description}}
    </div>
  </div>
</template>

<script>
export default {
  props: ['src', 'alt', 'description'],
}
</script>

<style scoped lang="scss">
.image-container {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .image-description {
    font-style: italic;
    margin-top: 10px;
  }
}

</style>
