<template>
  <div class="side-by-side-images-container">
    <template v-for="(image, index) in images">
      <ImageWithDescription :key='`${image.alt}_image`' :src='image.src' :alt='image.alt' :description='image.description' class="side-by-side-image" />
      <div :key='`${image.alt}_divider`' class="vertical-divider" v-if="index !== images.length - 1"></div>
    </template>
  </div>
</template>

<script>
import ImageWithDescription from './ImageWithDescription.vue'

export default {
  name: 'SideBySideImages',
  props: ['images'],
  components: {
    ImageWithDescription
  },
}
</script>

<style scoped lang="scss">
.side-by-side-images-container {
  --margin-between-images: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  .side-by-side-image {
    &:not(:first-child) {
      margin-left: var(--margin-between-images);
    }
    &:not(:last-child) {
      margin-right: var(--margin-between-images);
    }
  }

  .vertical-divider {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--theme-primary-color-dark);
    height: 50%;
    width: 1px;
  }

  @media screen and (min-width: 500px) and (max-width: 1100px) {
    --margin-between-images: 20px;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;
    --margin-between-images: unset;

    .vertical-divider {
      display: none;
    }
  }
}
</style>
