<template>
  <div style="height: 100%;">
    <svg class='asia-map' xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
      <defs>
        <amcharts:ammap projection="mercator" leftLongitude="69.6" topLatitude="50.68" rightLongitude="155.25" bottomLatitude="-55.55"></amcharts:ammap>
        <pattern id="vietnamWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602402905/vietnam_medium-2x.jpg" width="150px" height="75px" x="-65" y="-15"></image>
        </pattern>
        <pattern id="malaysiaWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403099/malaisie_medium-2x.jpg" height="75px" width="125px" y="-40" x="-60"></image>
        </pattern>
        <pattern id="myanmarWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/myanmar_medium-2x.jpg" height="200px" y="-75" width="175px" x="-60"></image>
        </pattern>
        <pattern id="laosWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403094/laos_medium-2x.jpg" height="100px" width="100px" x="-20" y="-40"></image>
        </pattern>
        <pattern id="thailandWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403093/thailande_medium-2x.jpg" height="100px" width="175px" y="-35" x="-16"></image>
        </pattern>
        <pattern id="cambodiaWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/cambodge_medium-2x.jpg" height="100px" width="75px" y="-40" x="-18"></image>
        </pattern>
        <pattern id="philippinesWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403096/philippines_medium-2x.jpg" height="100px" x="-10" width="150px" y="-30"></image>
        </pattern>
        <pattern id="indonesiaWallpaper" width="100%" height="100%">
          <image xlink:href="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403093/indonesie_medium-2x.jpg" height="100px" width="175px" x="0" y="-35"></image>
        </pattern>
      </defs>
      <g>
        <path id="KH" title="Cambodia" @click="goTo('cambodge')" @mouseover="$emit('country-changed', 'cambodge')" :class="{'hover':countrySelected==='cambodge', 'land':true, 'cambodge':true}"  d=
        "
        M 65.44, 133.6
        L 64.3, 132.12
        L 62.89, 129.18
        L 62.22, 125.73
        L 64.02, 123.35
        L 67.64, 122.8
        L 70.27, 123.21
        L 72.58, 124.34
        L 73.85, 122.35
        L 76.34, 123.41
        L 76.99, 125.33
        L 76.64, 128.75
        L 71.93, 130.94
        L 73.16, 132.67
        L 70.22, 132.87
        L 67.79, 134.01
        z"/>

        <path id="ID" title="Indonesia" @click="goTo('indonesie')" @mouseover="$emit('country-changed', 'indonesie')" :class="{'hover':countrySelected==='indonesie', 'land':true, 'indonesie':true}"  d=
        "
        M 113.72, 192.06
        l -1.18,0.05
        l -3.72,-1.98
        l 2.61,-0.56
        l 1.47,0.86
        l 0.98,0.86
        L 113.72, 192.06
        z

        M 124.15, 191.78
        l -2.4,0.62
        l -0.34,-0.34
        l 0.25,-0.96
        l 1.21,-1.72
        l 2.77,-1.12
        l 0.28,0.56
        l 0.05,0.86
        L 124.15, 191.78
        z

        M 105.83, 186.01
        l 1.01,0.75
        l 1.73,-0.23
        l 0.7,1.2
        l -3.24,0.57
        l -1.94,0.38
        l -1.51,-0.02
        l 0.96,-1.62
        l 1.54,-0.02
        L 105.83, 186.01
        z

        M 119.86, 186
        l -0.41,1.56
        l -4.21,0.8
        l -3.73,-0.35
        l -0.01,-1.03
        l 2.23,-0.59
        l 1.76,0.84
        l 1.87,-0.21
        L 119.86, 186
        z

        M 79.82, 182.31
        l 5.37,0.28
        l 0.62,-1.16
        l 5.2,1.35
        l 1.02,1.82
        l 4.21,0.51
        l 3.44,1.67
        l -3.2,1.07
        l -3.08,-1.13
        l -2.54,0.08
        l -2.91,-0.21
        l -2.62,-0.51
        l -3.25,-1.07
        l -2.06,-0.28
        l -1.17,0.35
        l -5.11,-1.16
        l -0.49,-1.21
        l -2.57,-0.21
        l 1.92,-2.68
        l 3.4,0.17
        l 2.26,1.09
        l 1.16,0.21
        L 79.82, 182.31
        z

        M 153, 180.73
        l -1.44,1.91
        l -0.27,-2.11
        l 0.5,-1.01
        l 0.59,-0.95
        l 0.64,0.82
        L 153, 180.73
        z

        M 132.04, 173.02
        l -1.05,0.93
        l -1.94,-0.51
        l -0.55,-1.2
        l 2.84,-0.13
        L 132.04, 173.02
        z

        M 141.08, 172.01
        l 1.02,2.13
        l -2.37,-1.15
        l -2.34,-0.23
        l -1.58,0.18
        l -1.94,-0.1
        l 0.67,-1.53
        l 3.46,-0.12
        L 141.08, 172.01
        z

        M 151.37, 166.59
        l 0.78,4.51
        l 2.9,1.67
        l 2.34,-2.96
        l 3.22,-1.68
        l 2.49,0
        l 2.4,0.97
        l 2.08,1
        l 3.01,0.53
        l 0.05,9.1
        l 0.05,9.16
        l -2.5,-2.31
        l -2.85,-0.57
        l -0.69,0.8
        l -3.55,0.09
        l 1.19,-2.29
        l 1.77,-0.78
        l -0.73,-3.05
        l -1.35,-2.35
        l -5.44,-2.37
        l -2.31,-0.23
        l -4.21,-2.58
        l -0.83,1.36
        l -1.08,0.25
        l -0.64,-1.02
        l -0.01,-1.21
        l -2.14,-1.37
        l 3.02,-1
        l 2,0.05
        l -0.24,-0.74
        l -4.1,-0.01
        l -1.11,-1.66
        l -2.5,-0.51
        l -1.19,-1.38
        l 3.78,-0.67
        l 1.44,-0.91
        l 4.5,1.14
        L 151.37, 166.59
        z

        M 126.41, 159.43
        l -2.25,2.76
        l -2.11,0.54
        l -2.7,-0.54
        l -4.67,0.14
        l -2.45,0.4
        l -0.4,2.11
        l 2.51,2.48
        l 1.51,-1.26
        l 5.23,-0.95
        l -0.23,1.28
        l -1.22,-0.4
        l -1.22,1.63
        l -2.47,1.08
        l 2.65,3.57
        l -0.51,0.96
        l 2.52,3.22
        l -0.02,1.84
        l -1.5,0.82
        l -1.1,-0.98
        l 1.36,-2.29
        l -2.75,1.08
        l -0.7,-0.77
        l 0.36,-1.08
        l -2.02,-1.64
        l 0.21,-2.72
        l -1.87,0.85
        l 0.24,3.25
        l 0.11,4
        l -1.78,0.41
        l -1.2,-0.82
        l 0.8,-2.57
        l -0.43,-2.69
        l -1.18,-0.02
        l -0.87,-1.91
        l 1.16,-1.83
        l 0.4,-2.21
        l 1.41,-4.2
        l 0.59,-1.15
        l 2.38,-2.07
        l 2.19,0.82
        l 3.54,0.39
        l 3.22,-0.12
        l 2.77,-2.02
        L 126.41, 159.43
        z

        M 136.08, 160.23
        l -0.15,2.43
        l -1.45,-0.27
        l -0.43,1.69
        l 1.16,1.47
        l -0.79,0.33
        l -1.13,-1.76
        l -0.83,-3.56
        l 0.56,-2.23
        l 0.93,-1.01
        l 0.2,1.52
        l 1.66,0.24
        L 136.08, 160.23
        z

        M 105.76, 158.29
        l 3.14,2.58
        l -3.32,0.33
        l -0.94,1.9
        l 0.12,2.52
        l -2.7,1.91
        L 102, 170.3
        l -1.08,4.27
        l -0.41,-0.99
        l -3.19,1.26
        l -1.11,-1.71
        l -2,-0.16
        l -1.4,-0.89
        l -3.33,1
        l -1.02,-1.35
        l -1.84,0.15
        l -2.31,-0.32
        l -0.43,-3.74
        l -1.4,-0.77
        l -1.35,-2.38
        l -0.39,-2.44
        l 0.33,-2.58
        l 1.67,-1.85
        l 0.47,1.86
        l 1.92,1.57
        l 1.81,-0.57
        l 1.79,0.2
        l 1.63,-1.41
        l 1.34,-0.24
        l 2.65,0.78
        l 2.29,-0.59
        l 1.44,-3.88
        l 1.08,-0.97
        l 0.97,-3.17
        l 3.22,0
        l 2.43,0.47
        l -1.59,2.52
        l 2.06,2.64
        L 105.76, 158.29
        z

        M 71.95, 179.71
        l -3.1,0.06
        l -2.36,-2.34
        l -3.6,-2.28
        l -1.2,-1.69
        l -2.12,-2.27
        l -1.39,-2.09
        l -2.13,-3.9
        l -2.46,-2.32
        l -0.82,-2.39
        l -1.03,-2.17
        l -2.53,-1.75
        l -1.47,-2.39
        l -2.11,-1.56
        l -2.92,-3.08
        l -0.25,-1.42
        l 1.81,0.11
        l 4.34,0.54
        l 2.48,2.73
        l 2.17,1.89
        l 1.55,1.16
        l 2.66,3
        l 2.85,0.04
        l 2.36,1.91
        l 1.62,2.33
        l 2.13,1.27
        l -1.12,2.27
        l 1.61,0.97
        l 1.01,0.07
        l 0.48,1.94
        l 0.98,1.56
        l 2.06,0.25
        l 1.36,1.76
        l -0.7,3.47
        L 71.95, 179.71
        z

        "/>

        <path id="LA" title="Lao People's Democratic Republic" @click="goTo('laos')" @mouseover="$emit('country-changed', 'laos')" :class="{'hover':countrySelected==='laos', 'land':true, 'laos':true}"  d=
        "
        M 70.27, 123.21
        L 71.18, 121.91
        L 71.31, 119.47
        L 69.04, 116.94
        L 68.86, 114.07
        L 66.73, 111.69
        L 64.61, 111.49
        L 64.05, 112.51
        L 62.4, 112.59
        L 61.56, 112.08
        L 58.61, 113.82
        L 58.54, 111.2
        L 59.23, 108.09
        L 57.34, 107.96
        L 57.18, 106.18
        L 55.96, 105.26
        L 56.56, 104.16
        L 58.95, 102.22
        L 59.2, 102.92
        L 60.69, 103
        L 60.27, 99.57
        L 61.72, 99.13
        L 63.36, 101.5
        L 64.62, 104.22
        L 68.07, 104.25
        L 69.16, 106.84
        L 67.37, 107.61
        L 66.56, 108.68
        L 69.92, 110.44
        L 72.25, 113.9
        L 74.02, 116.47
        L 76.14, 118.49
        L 76.85, 120.53
        L 76.34, 123.41
        L 73.85, 122.35
        L 72.58, 124.34
        z
        "/>

        <path id="MY" title="Malaysia" @click="goTo('malaisie')" @mouseover="$emit('country-changed', 'malaisie')" :class="{'hover':countrySelected==='malaisie', 'land':true, 'malaisie':true}" d=
        "
        M 58.65, 146.07
        l 0.22,1.44
        l 1.85,-0.33
        l 0.92,-1.15
        l 0.64,0.26
        l 1.66,1.69
        l 1.18,1.87
        l 0.16,1.88
        l -0.3,1.27
        l 0.27,0.96
        l 0.21,1.65
        l 0.99,0.77
        l 1.1,2.46
        l -0.05,0.94
        l -1.99,0.19
        l -2.65,-2.06
        l -3.32,-2.21
        l -0.33,-1.42
        l -1.62,-1.87
        l -0.39,-2.31
        l -1.01,-1.52
        l 0.31,-2.04
        l -0.62,-1.19
        l 0.49,-0.5
        L 58.65, 146.07
        z

        M 107.84, 150.9
        l -2.06,0.95
        l -2.43,-0.47
        l -3.22,0
        l -0.97,3.17
        l -1.08,0.97
        l -1.44,3.88
        l -2.29,0.59
        l -2.65,-0.78
        l -1.34,0.24
        l -1.63,1.41
        l -1.79,-0.2
        l -1.81,0.57
        l -1.92,-1.57
        l -0.47,-1.86
        l 2.05,0.96
        l 2.17,-0.52
        l 0.56,-2.36
        l 1.2,-0.53
        l 3.36,-0.6
        l 2.01,-2.21
        l 1.38,-1.77
        l 1.28,1.45
        l 0.59,-0.95
        l 1.34,0.09
        l 0.16,-1.78
        l 0.13,-1.38
        l 2.16,-1.95
        l 1.41,-2.19
        l 1.13,-0.01
        l 1.44,1.42
        l 0.13,1.22
        l 1.85,0.78
        l 2.34,0.84
        l -0.2,1.1
        l -1.88,0.14
        L 107.84, 150.9
        z
        "/>

        <path id="MM" title="Myanmar" @click="goTo('myanmar')" @mouseover="$emit('country-changed', 'myanmar')" :class="{'hover':countrySelected==='myanmar', 'land':true, 'myanmar':true}" d=
        "
        M 54.36, 105.95
        L 52.72, 107.23
        L 50.74, 107.37
        L 49.46, 110.56
        L 48.28, 111.09
        L 49.64, 113.66
        L 51.42, 115.79
        L 52.56, 117.71
        L 51.54, 120.23
        L 50.57, 120.76
        L 51.24, 122.21
        L 53.11, 124.49
        L 53.43, 126.09
        L 53.38, 127.42
        L 54.48, 130.02
        L 52.94, 132.67
        L 51.58, 135.58
        L 51.31, 133.48
        L 52.17, 131.3
        L 51.23, 129.62
        L 51.46, 126.51
        L 50.32, 125.03
        L 49.41, 121.59
        L 48.9, 117.93
        L 47.69, 115.53
        L 45.84, 116.99
        L 42.65, 119.05
        L 41.08, 118.79
        L 39.34, 118.12
        L 40.31, 114.51
        L 39.73, 111.77
        L 37.53, 108.38
        L 37.87, 107.31
        L 36.23, 106.93
        L 34.24, 104.51
        L 34.06, 102.1
        L 35.04, 102.56
        L 35.09, 100.41
        L 36.48, 99.69
        L 36.18, 98.41
        L 36.81, 97.38
        L 36.92, 94.23
        L 39.11, 94.93
        L 40.36, 92.41
        L 40.51, 90.91
        L 42.05, 88.31
        L 41.97, 86.53
        L 45.6, 84.37
        L 47.6, 84.94
        L 47.37, 83.01
        L 48.36, 82.43
        L 48.14, 81.23
        L 49.78, 80.99
        L 50.72, 82.85
        L 51.94, 83.6
        L 52.03, 86
        L 51.91, 88.57
        L 49.26, 91.15
        L 48.92, 94.78
        L 51.88, 94.28
        L 52.55, 97.08
        L 54.33, 97.67
        L 53.51, 100.17
        L 55.59, 101.3
        L 56.81, 101.85
        L 58.86, 100.98
        L 58.95, 102.22
        L 56.56, 104.16
        L 55.96, 105.26
        z
        "/>

        <path id="PH" title="Philippines" @click="goTo('philippines')" @mouseover="$emit('country-changed', 'philippines')" :class="{'hover':countrySelected==='philippines', 'land':true, 'philippines':true}" d=
        "
        M 129.59, 139.86
        l 0.29,1.87
        l 0.17,1.58
        l -0.96,2.57
        l -1.02,-2.86
        l -1.31,1.42
        l 0.9,2.06
        l -0.8,1.31
        l -3.3,-1.63
        l -0.79,-2.03
        l 0.86,-1.33
        l -1.78,-1.33
        l -0.88,1.17
        l -1.32,-0.11
        l -2.08,1.57
        l -0.46,-0.82
        l 1.1,-2.37
        l 1.77,-0.79
        l 1.53,-1.06
        l 0.99,1.27
        l 2.13,-0.77
        l 0.46,-1.26
        l 1.98,-0.08
        l -0.17,-2.18
        l 2.27,1.34
        l 0.24,1.42
        L 129.59, 139.86
        z

        M 122.88, 134.6
        l -1.01,0.93
        l -0.88,1.79
        l -0.88,0.84
        l -1.73,-1.95
        l 0.58,-0.76
        l 0.7,-0.79
        l 0.31,-1.76
        l 1.55,-0.17
        l -0.45,1.91
        l 2.08,-2.74
        L 122.88, 134.6
        z

        M 107.52, 137.32
        l -3.73,2.67
        l 1.38,-1.97
        l 2.03,-1.74
        l 1.68,-1.96
        l 1.47,-2.82
        l 0.5,2.31
        l -1.85,1.56
        L 107.52, 137.32
        z

        M 117, 130.02
        l 1.68,0.88
        l 1.78,0
        l -0.05,1.19
        l -1.3,1.2
        l -1.78,0.85
        l -0.1,-1.32
        l 0.2,-1.45
        L 117, 130.02
        z

        M 127.14, 129.25
        l 0.79,3.18
        l -2.16,-0.75
        l 0.06,0.95
        l 0.69,1.75
        l -1.33,0.63
        l -0.12,-1.99
        l -0.84,-0.15
        l -0.44,-1.72
        l 1.65,0.23
        l -0.04,-1.08
        l -1.71,-2.18
        l 2.69,0.06
        L 127.14, 129.25
        z

        M 116, 126.66
        l -0.74,2.47
        l -1.2,-1.42
        l -1.43,-2.18
        l 2.4,0.1
        L 116, 126.66
        z

        M 115.42, 110.92
        l 1.73,0.84
        l 0.86,-0.76
        l 0.25,0.75
        l -0.46,1.22
        l 0.96,2.09
        l -0.74,2.42
        l -1.65,0.96
        l -0.44,2.33
        l 0.63,2.29
        l 1.49,0.32
        l 1.24,-0.34
        l 3.5,1.59
        l -0.27,1.56
        l 0.92,0.69
        l -0.29,1.32
        l -2.18,-1.4
        l -1.04,-1.5
        l -0.72,1.05
        l -1.79,-1.72
        l -2.55,0.42
        l -1.4,-0.63
        l 0.14,-1.19
        l 0.88,-0.73
        l -0.84,-0.67
        l -0.36,1.04
        l -1.38,-1.65
        l -0.42,-1.26
        l -0.1,-2.77
        l 1.13,0.96
        l 0.29,-4.55
        l 0.91,-2.66
        L 115.42, 110.92
        z

        "/>

        <path id="TH" title="Thailand" @click="goTo('thailande')" @mouseover="$emit('country-changed', 'thailande')" :class="{'hover':countrySelected==='thailande', 'land':true, 'thailande':true}" d=
        "
        M 62.89, 129.18
        L 60.37, 127.87
        L 57.97, 127.93
        L 58.38, 125.68
        L 55.91, 125.7
        L 55.69, 128.84
        L 54.18, 132.99
        L 53.27, 135.49
        L 53.46, 137.54
        L 55.28, 137.63
        L 56.42, 140.2
        L 56.93, 142.63
        L 58.49, 144.24
        L 60.19, 144.57
        L 61.64, 146.02
        L 60.73, 147.17
        L 58.87, 147.51
        L 58.65, 146.07
        L 56.37, 144.84
        L 55.88, 145.34
        L 54.77, 144.27
        L 54.29, 142.88
        L 52.8, 141.29
        L 51.44, 139.96
        L 50.98, 141.61
        L 50.45, 140.05
        L 50.76, 138.29
        L 51.58, 135.58
        L 52.94, 132.67
        L 54.48, 130.02
        L 53.38, 127.42
        L 53.43, 126.09
        L 53.11, 124.49
        L 51.24, 122.21
        L 50.57, 120.76
        L 51.54, 120.23
        L 52.56, 117.71
        L 51.42, 115.79
        L 49.64, 113.66
        L 48.28, 111.09
        L 49.46, 110.56
        L 50.74, 107.37
        L 52.72, 107.23
        L 54.36, 105.95
        L 55.96, 105.26
        L 57.18, 106.18
        L 57.34, 107.96
        L 59.23, 108.09
        L 58.54, 111.2
        L 58.61, 113.82
        L 61.56, 112.08
        L 62.4, 112.59
        L 64.05, 112.51
        L 64.61, 111.49
        L 66.73, 111.69
        L 68.86, 114.07
        L 69.04, 116.94
        L 71.31, 119.47
        L 71.18, 121.91
        L 70.27, 123.21
        L 67.64, 122.8
        L 64.02, 123.35
        L 62.22, 125.73
        z
        "/>

        <path id="VN" title="Vietnam" @click="goTo('vietnam')" @mouseover="$emit('country-changed', 'vietnam')" :class="{'hover':countrySelected==='vietnam', 'land':true, 'vietnam':true}" d=
        "
        M 78.21, 101.87
        L 74.47, 104.43
        L 72.13, 107.24
        L 71.51, 109.29
        L 73.66, 112.38
        L 76.28, 116.2
        L 78.82, 117.99
        L 80.53, 120.32
        L 81.81, 125.64
        L 81.43, 130.66
        L 79.1, 132.53
        L 75.88, 134.36
        L 73.6, 136.72
        L 70.1, 139.34
        L 69.08, 137.53
        L 69.87, 135.62
        L 67.79, 134.01
        L 70.22, 132.87
        L 73.16, 132.67
        L 71.93, 130.94
        L 76.64, 128.75
        L 76.99, 125.33
        L 76.34, 123.41
        L 76.85, 120.53
        L 76.14, 118.49
        L 74.02, 116.47
        L 72.25, 113.9
        L 69.92, 110.44
        L 66.56, 108.68
        L 67.37, 107.61
        L 69.16, 106.84
        L 68.07, 104.25
        L 64.62, 104.22
        L 63.36, 101.5
        L 61.72, 99.13
        L 63.23, 98.39
        L 65.46, 98.41
        L 68.19, 98.06
        L 70.58, 96.44
        L 71.93, 97.58
        L 74.5, 98.13
        L 74.05, 99.87
        L 75.39, 101.09
        z
        "/>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  props: ['countrySelected'],
  data () {
    return {
      countryName: '',
      approximateDate: ''
    }
  },
  methods: {
    goTo (country) {
      this.$router.push({ path: '/pays/' + country, params: { countryName: country } })
    }
  }
}

</script>

<style lang="scss" scoped>
  .land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
  }

  @media screen and (min-height: 650px) {
    g {
      transform: scale(3.5) translate(-30px, -30px);
    }
  }

  @media screen and (max-height: 650px) {
    g {
      transform: scale(3.5) translate(-30px, -65px);
    }
  }

  .asia-map {
    height: 100%;
    width: 100%;

    #BD, #BT, #KH, #CN, #ID, #IN, #JP, #LA, #KP, #KR, #MM, #MY, #NP, #PG, #PH, #LK, #TH, #TW, #VN {
      &:hover, &.hover {
        fill-opacity: 0.7;
        cursor: pointer;
        &.vietnam {
          fill: url(#vietnamWallpaper);
        }
        &.malaisie {
          fill: url(#malaysiaWallpaper);
        }
        &.myanmar {
          fill: url(#myanmarWallpaper);
        }
        &.laos {
          fill: url(#laosWallpaper);
        }
        &.thailande {
          fill: url(#thailandWallpaper);
        }
        &.cambodge {
          fill: url(#cambodiaWallpaper);
        }
        &.philippines {
          fill: url(#philippinesWallpaper);
        }
        &.indonesie {
          fill: url(#indonesiaWallpaper);
        }
      }
    }

    .country-name {
      display: none;

      &.displayed {
        display: inherit;
        font-size: 1.2em;
      }
    }
  }
</style>
