<template>
  <div class="card card-country">
    <picture class='card-country-img'>
      <source :srcset="'https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '_small_avif.avif, https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '_small_avif-2x.avif 2x'" media="(max-width:500px)" type="image/avif" />
      <source :srcset="'https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '_small.jpg, https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '_small-2x.jpg 2x'" media="(max-width:500px)" type="image/jpg" />
      <source :srcset="'https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '_medium.jpg, https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '_medium-2x.jpg 2x'" media="(max-width:1500px)" type="image/jpg" />
      <source :srcset="'https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '.jpg, https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '-2x.jpg 2x'" media="(min-width:1500px)" type="image/jpg" />
      <img
        :src="'https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/' + this.country.key + '.jpg'"
        class='image'
        :alt="this.country && this.country.name"
        height='150'
        width='300'
      />
    </picture>
    <div class='card-title-text'>
      <span class="card-title">{{this.country && this.country.name}}</span>
      <div class='card-text'> {{this.country && this.country.description}} </div>
    </div>
    <div class='explore'>
      <button type="button">Explorer</button>
    </div>
  </div>
</template>

<script>
import { countries } from '../constants'

export default {
  props: ['countrySelected'],
  data () {
    return {
      countries: countries,
    }
  },
  computed: {
    country: function () {
      return countries.find(country => country.key === this.countrySelected)
    }
  },
}
</script>

<style lang="scss" scoped>
.card-country-img {
  height: auto;
  width: 100%;

  .image {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
}

/** large screen **/
@media screen and (min-width: 500px) {
  .card.card-country { 
    height: auto;

    .card-title-text {
      height: 250px;
    }

    /** Ellipsis when overflow */
    .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical; 
      overflow: hidden;
    }
    
    .explore button {
      cursor: pointer;
    }
  }
}

/** Medium screen **/
@media screen and (max-width: 500px) {
  .card.card-country {
    border-radius: 100%;
    background-color: unset;
    box-shadow: unset;
    &:hover {
      box-shadow: unset;
    }

    .card-country-img {
      height: 150px;
      width: 150px;
      margin: 0 auto;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      border-radius: 100%;
      .image {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-radius: 100%;
        object-fit: none;
      }
    }

    .card-title-text {
      position: absolute;
      padding: 0;
      width: 100%;

      .card-title {
        font-size: 1rem;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
      .card-text {
        display: none;
      }
    }
    .explore {
      display: none;
    }
  }
}

</style>
