<template>
  <div class="home-container">
    <h1 class="home-title-container">
      <span>Bob</span>
      <span>&</span>
      <span>Pesto</span>
    </h1>
    <div class="home-website-description">
      <h2>
        Bienvenue sur notre blog<br class="home-second-title-br">
        de voyage !
      </h2>
      <p>
        Nous sommes Bob et Pesto, un couple de voyageurs en sac à dos et nous écrivons des articles suite à notre voyage en Asie du Sud Est.
        Dans nos articles, nous voulons aller au plus concret sans vous spoiler ce que vous verrez en voyage ! <br><br>
        Vous pouvez nous suivre sur instagram: <a href="https://www.instagram.com/invites/contact/?i=47no798ha4ab&utm_content=n2y5ekq" target="_blank" rel="no-follow noopener">@bobpesto</a> 😉
      </p>
    </div>
    <div class="home-buttons-container">
        <nuxt-link class="home-button home-button-secondary" tag='button' type='button' :to="{ path: '/a-propos' }">
          Qui sommes nous ?
        </nuxt-link>
        <nuxt-link class="home-button home-button-secondary" tag='button' type='button' :to="{ path: '/pays/myanmar/articles/loikaw' }">
          Dernier article
        </nuxt-link>
        <nuxt-link class="home-button home-button-primary" tag='button' type='button' :to="{ path: '/pays' }">
          Liste des pays
        </nuxt-link>
    </div>
    <div class="home-image-container"></div>
  </div>
</template>

<script>

export default {
  name: 'Home',
  data () {
    return {
    }
  },
}
</script>

<style lang='scss' scoped>
.home-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 5fr; // 1fr is a gap
  grid-template-areas: ". . . imageContainer"
                       "title description . imageContainer"
                       "title description . imageContainer"
                       "title description .  imageContainer"
                       "buttons buttons buttons imageContainer";
}

.home-title-container {
  grid-area: title;

  font-family: 'Dosis', sans-serif;
  font-weight: 200;
  font-size: clamp(60px, 6vw, 150px);
  margin: auto;
  padding-top: var(--toolbar-menu-height);

  display: flex;
  justify-content: center;
  flex-direction: column;

  span:nth-child(2) {
    font-size: clamp(35px, 4vw, 65px);
  }
}

.home-website-description {
  grid-area: description;
  margin: auto;

  h2 {
    font-size: clamp(25px, 2vw, 50px);
    font-weight: unset;
    padding: 3rem 0;
  }

  p {
    font-size: 1.2vw;
    line-height: 1.6rem;
  }
}

.home-buttons-container {
  grid-area: buttons;

  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .home-button {
    border: solid 2px var(--theme-link-color);
    border-radius: 0.3125rem;
    cursor: pointer;
    filter: drop-shadow(2px 3px 5px rgba(0, 130, 128, 0.25));
    font-weight: bold;

    height: 3.75rem;
    width: 12.5rem;
    transition: background-color 300ms, color 300ms;

    &.home-button-secondary {
      background-color: rgba(255, 255, 255, 0.75);
      color: var(--theme-link-color);

      &:hover, &:focus {
        background-color: var(--theme-link-color);
        color: white;
      }
    }

    &.home-button-primary {
      background-color: var(--theme-link-color);
      color: white;
    }
    
    &:hover, &:focus {
      background-color: var(--theme-link-color-hover);
      color: white;
    }
  }
}

.home-image-container {
  background-size: cover;
  grid-area: imageContainer;

  .home-image {
    height: 100%;
    width: 100%;
  }
}
    
/** Medium screen **/
@media screen and (min-width: 500px) and (max-width: 1100px) {
  .home-container {
    grid-template-columns: 5fr 3fr;
    grid-template-areas: ". imageContainer"
                        "title imageContainer"
                        "description imageContainer"
                        "description imageContainer"
                        "buttons imageContainer";
  }

  .home-title-container {
    display: table;

    span {
      display: table-cell;

      &:nth-child(2) {
        padding: 0.8rem;
      }
    }
  }

  .home-website-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 80%;
    padding: 0 4rem;

    p {
      font-size: unset;
    }
  }

  .home-buttons-container .home-button {
    // circle buttons
    height: 8rem;
    width: 8rem;
    padding: 5px;
    line-height: 1.3;
    border-radius: 100%;
    padding: 1rem;
  }
}

/** Small screen **/
@media screen and (max-width: 500px) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-areas: "title"
                        "description"
                        "buttons"
                        "buttons";
  }

  .home-title-container {
    color: white;
    display: table;
    font-size: 45px;

    span {
      display: table-cell;

      &:nth-child(2) {
        font-size: 25px;
        padding: 0.8rem;
      }
    }
  }

  
  .home-website-description {
    display: flex;
    padding: 0 2.5rem;
    margin: inherit;

    h2 {
      color: white;
      font-size: unset;
      font-weight: unset;
      margin: 0 auto;
      padding-bottom: 0;

      .home-second-title-br {
        display: none;
      }
    }

    p {
      display: none;
    }
  }

  .home-buttons-container {
    flex-direction: column;
    padding: 3rem 1rem;
  }

  .home-image-container {
    display: none;
  }
}



  // homepage image
  // Large screen
  @media (min-width: 1500px) {
    .home-image-container {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_large-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    .home-image-container {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    .home-container {
      background-size: cover;
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small.jpg') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small-2x.jpg') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1633883727/home_page_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
