<template>
  <div>
    <div v-if='countries.length' class='countries-list-container'>
      <div v-for="(country, index) in countries" :key="country.name" class='country' @click='goTo(country.key)' @mouseover="$emit('country-changed', country.key)">
        <hr v-if='index !== 0' class='divider' />
        <span :class="{ active: isActive(country) }"> {{country.name}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { countries } from '../constants'

export default {
  props: ['countrySelected'],
  data () {
    return {
      countries: countries
    }
  },
  methods: {
    isActive (country) {
      const selectedCountry = this.countries.find(country => country.key === this.countrySelected)
      if (selectedCountry) {
        return country.name === selectedCountry.name
      }
    },
    goTo (country) {
      this.$router.push({ path: '/pays/' + country, params: { countryName: country } })
    }
  }
}
</script>

<style lang="scss" scoped>
.countries-list-container {
  text-align: center;
  width: 100%;
  list-style-type: none;
  font-size: 1rem;

  .active {
    font-weight: 600;
    color: var(--theme-primary-color-light);
  }

  .country {
    padding-bottom: 3vh;
    cursor: pointer;

    &:hover {
      @extend .active
    }

    .divider {
      padding-bottom: inherit;
      border: solid;
      border-width: thin 0 0 0;
      border-color: rgba(0,0,0,0.12);
    }
  }
}

</style>
