<template>
  <div :class="{ 'sneaky-display': isHomePage, 'toolbar-menu-progression-scroll': true }">
    <div class="toolbar-menu">
      <nuxt-link tag='button' type="button" :to="{ path: '/'}" class="home-button toolbar-menu-button">
        <img class='home-button-icon' src="https://res.cloudinary.com/djchx0gtn/image/upload/v1618766787/logo_small.svg" alt="logo bateau avec une montagne en guise de voile" width='37' height='37' />
        <span class='home-button-label'>
          Bob <span style="font-weight:bold;">&</span> Pesto
        </span>
      </nuxt-link>
      <nav aria-label="Breadcrumb">
        <ol :class="{'with-country-name': isAtLeastInCountryPath, 'breadcrumb': true}">
          <li
            v-for="path in this.getBreadcrumb()"
            :key="path.name"
          >
            <span v-if="path.disabled">{{ path.name }}</span>
            <nuxt-link v-else tag='a' :to="{path: path.linkTo}">
              {{ path.name }}
            </nuxt-link>
          </li>
        </ol>
      </nav>
      <div class="space"></div>
      <div class="quick-navigation-button">
        <nuxt-link class="toolbar-menu-button" tag='button' type='button' :to="{ path: '/pays' }">
          Liste des pays
        </nuxt-link>
        <nuxt-link class="toolbar-menu-button" tag='button' type='button' :to="{path: '/pays/myanmar/articles/loikaw'}">
          Dernier article
        </nuxt-link>
        <nuxt-link class="toolbar-menu-button" tag='button' type='button' :to="{path: '/a-propos'}">
          Qui sommes nous ?
        </nuxt-link>
      </div>
    </div>
    <div class="progress-container" v-if="isAnArticle">
      <div class="progress-bar" id="progressBar"></div>
    </div>
  </div>
</template>

<script>
import countries from './../constants/countries'

export default {
  mounted () {
    if (process.client) {
      window.addEventListener('scroll', this.handleProgressionBarScroll);
    }
  },
  updated () {
    this.isAnArticle = this.$route.name.includes('articles')
    this.isAtLeastInCountryPath = this.$route.name.includes('countryName')
    this.isHomePage = this.$route.name === 'index'
  },
  destroyed () {
    if (process.client) {
      window.removeEventListener('scroll', this.handleProgressionBarScroll);
    }
  },
  data () {
    return {
      breadcrumbList: this.getBreadcrumb.bind(this),
      isAnArticle: this.$route.name.includes('articles'),
      isAtLeastInCountryPath: this.$route.name.includes('countryName'),
      isHomePage: this.$route.name === 'index', 
    }
  },
  methods: {
    getBreadcrumb () {
      let breadcrumb = []

      // dynamic hack to change :countryName and :articleName by the real value
      if (this.$route.name.includes('articles')) {
        const path = this.$route.name.substring(this.$route.name.indexOf('articles-') + 'articles-'.length)
        const countryName = this.$route.params.countryName
        const articleName = path.split("-").join(" ");
        const involvedCountry = countries.find(country => country.key === countryName)

        breadcrumb = [
          {
            name: 'Accueil',
            linkTo: '/',
            disabled: false
          },
          {
            name: 'Liste des pays',
            linkTo: '/pays',
            disabled: false
          },
          {
            name: involvedCountry ? involvedCountry.name : '',
            linkTo: '/pays/' + countryName,
            disabled: false
          },
          {
            name: articleName.charAt(0).toUpperCase() + articleName.slice(1),
            linkTo: '/pays/' + countryName + '/articles/' + path,
            disabled: true
          }
        ]
      } else if (this.$route.name.includes('countryName')) {
        breadcrumb = [
          {
            name: 'Accueil',
            linkTo: '/',
            disabled: false
          },
          {
            name: 'Liste des pays',
            linkTo: '/pays',
            disabled: false
          },
          {
            name: countries.find(country => country.key === this.$route.params.countryName).name,
            linkTo: '/pays/' + this.$route.params.countryName,
            disabled: true
          }
        ]
      } else if (this.$route.name.includes('pays')) {
        breadcrumb = [
          {
            name: 'Accueil',
            linkTo: '/',
            disabled: false
          },
          {
            name: 'Liste des pays',
            linkTo: '/pays',
            disabled: true
          }
        ]
      } else if (this.$route.name.includes('a-propos')) {
        breadcrumb = [
          {
            name: 'Accueil',
            linkTo: '/',
            disabled: false
          },
          {
            name: 'Qui sommes nous ?',
            linkTo: '/a-propos',
            disabled: true
          }
        ]
      }

      return breadcrumb
    },
    handleProgressionBarScroll () {
      if (!this.isAnArticle) return
      const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;
      document.getElementById("progressBar").style.width = scrolled + 1 + "%";
    }
  }
}
</script>

<style lang="scss">
.toolbar-menu-progression-scroll {
  display: flex;
  flex-direction: column;
  position: fixed;

  width: 100%;
  z-index: 3;
  
  background-color: var(--theme-background-color-white);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.87);

  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;

    .progress-bar {
      height: 8px;
      background: var(--theme-primary-color-light);
      width: 0%;
    }
  }


  .toolbar-menu {
    display: flex;
    align-items: center;
    justify-content: stretch;

    height: var(--toolbar-menu-height);
    width: 100%;

    .home-button {
      display: flex;
      align-items: center;

      .home-button-label {
        margin-left: 1rem;
      }

      .home-button-icon {
        width: 2.3125rem;
        height: 2.3125rem;
      }
    }
    
    .quick-navigation-button {
      height: 100%;
    }

    .breadcrumb {
      list-style-type: none;
      padding: 18px 12px;
      transform: translateY(5px);

      li {
        display: inline-flex;

        &::before {
          height: 25px;
          content: "";
        }

        &:not(:first-child)::before {
          content: "";
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403101/arrow.svg');
          background-size: 100% 100%;
          display: inline-block;
          height: 25px;
          width: 55px;
          position: relative;
          top: -13px;
          transform: scale(1.2);
        }

        &:nth-child(odd)::before {
          transform: scale(1.2, -1);
          top: 11px;
        }

        > * {
          color: var(--theme-link-color);
          font-weight: bold;
          padding: 0 4px;
        }
      }
    }

    .space {
      flex-grow: 1;
    }

    .toolbar-menu-button {
      height: 100%;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 500;
      outline: 0;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
      user-select: none;
      padding: 0 1rem;
      cursor: pointer;
      &:hover {
        background-color: #dbdbdb;
      }
    }

  }

  // Sneaky display typically used for the home page
  &.sneaky-display {
    background-color: transparent;
    box-shadow: none;

    .breadcrumb.breadcrumb.breadcrumb {
      display: none;
    }
    .quick-navigation-button .toolbar-menu-button {
      color: white;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media (max-width: 1300px) {
  .toolbar-menu-progression-scroll {
    .quick-navigation-button >:not(:first-child){
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .toolbar-menu-progression-scroll .quick-navigation-button{
    display: none;
  }
}

@media (max-width: 500px) {
  .toolbar-menu-progression-scroll .toolbar-menu .home-button {
    padding: 0 0.5rem 0 0;
    &:hover {
      background-color: unset;
    }

    .home-button-label {
      display: none;
    }
  }

  .toolbar-menu-progression-scroll {
    .progress-container, .progress-container .progress-bar {
      height: 6px;
    }

    .toolbar-menu {
      padding: 0 10px;


      .breadcrumb {
        display: flex;
        align-items: center;

        &.with-country-name {
          justify-content: center;
        }

        height: 100%;
        width: 100%;

        transform: translateY(4px);
        padding: 0;

        li {
          &:not(:first-child)::before {
            width: 30px;
          }

          > * {
            font-size: 0.8rem;
          }
        }

        li:nth-child(4) {
            display: none;
        }
      }
    }
  }
}
</style>
