@import './style/articleLayoutMixin.scss';

@include article-layout;
.article {
    $heightBackgroundImage: 350px;

    header {
      opacity: 0.85;
      background-size: cover;
      position: absolute;
      left: 0;
      width: 100%;
      height: $heightBackgroundImage + 10px;
      margin-top: -10px;
  
      h1 {
        font-size: 5rem;
        text-align: center;
        color: var(--theme-background-color-white);
        padding-top: 70px;
        text-shadow: 0 2px black;
      }
    }
  
    .article-body {
      padding-top: $heightBackgroundImage;
    }

    .article-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 0.9rem;

      img {
        width: 35px;
        height: 35px;
        transform: translate(0px, 15px);
      }

      $paddingBetweenLinkAndArrow:10px;

      .previous-article {
        & > :last-child{
          padding-left: $paddingBetweenLinkAndArrow;
        }
      }

      .next-article {
        margin-left: auto;
        & > :first-child{
          padding-right: $paddingBetweenLinkAndArrow;
        }

        img {
          transform: translate(0px, 15px) rotate(180deg);
        }
      }
    }
  }
  
  /** Large screen **/
  @media screen and (min-width: 1100px) and (max-width: 1550px) {
    .article {
      max-width: 1100px;
      header {
        margin-top: -30px;
        h1 {
          font-size: 3.5rem;
          padding-top: 80px;
        }
      }
    }
  }

  /** Medium screen **/
  @media screen and (min-width: 500px) and (max-width: 1100px) {
    .article {
      max-width: 800px;
      header {
        margin-top: -30px;
        h1 {
          font-size: 3.5rem;
          padding-top: 80px;
        }
      }
    }
  }
  
  /** Small screen **/
  @media screen and (max-width: 500px) {
    $heightBackgroundImage: 250px;
    .article {
      header {
        margin-top: -30px;
        h1 {
          font-size: 3rem;
        }
      }
  
      .article-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          transform: unset;
        }

        .previous-article, .next-article {
          display: flex;
          flex-direction: column;
          span:first-child {
            display: none;
          }
        }

        .previous-article {
          text-align: start;

          & > :last-child {
            padding: unset;
          }
        }

        .next-article {
          margin-left: auto;
          align-items: flex-end;
          text-align: end;

          & > :first-child{
            padding: unset;
            order: 1;
          }

          img {
            transform: translate(0px, 0px) rotate(180deg);
          }
        }
      }
    }
  }