@mixin arrow-list {
  ul.arrow-list-container {
    padding: revert;
    li, .arrow-list-item {
      list-style: none;
      &::before {
        content: '';
        background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 30px;
        width: 30px;
        background-size: 24px;
        transform: rotate(180deg) translate(7px, 3px);
      }
    }
  }
}
