@import './arrowListMixin.scss';
@include arrow-list;

@mixin article-layout {
  .article-layout{
    max-width: 1400px;
    article {
      padding-bottom: 3rem;
    }

    .article-body {
      padding-bottom: 2rem;
      h2 {
        line-height: 3;
        font-size: 3em;
        color: var(--theme-primary-color-light);
      }
      
      p, ul {
        font-size: 1.25rem;
        line-height: 1.8rem;
        text-justify: inter-word;
        margin-bottom: 15px;
      }
    }
  }

  /** Large screen **/
  @media screen and (min-width: 1100px) and (max-width: 1550px) {
    .article-layout {
      max-width: 1100px;

      .article-body {
        h2 {
          line-height: 3rem;
          margin-bottom: 25px;
          margin-top: 25px;
          font-size: 2rem;
        }

        p, ul {
          font-size: 0.95rem;
        }
      }
    }
  }

  /** Medium screen **/
  @media screen and (min-width: 500px) and (max-width: 1100px) {
    .article-layout {
      max-width: 800px;

      .article-body {
        h2 {
          line-height: 3rem;
          margin-bottom: 25px;
          margin-top: 25px;
          font-size: 2rem;
        }

        p, ul {
          font-size: 0.95rem;
          line-height: 1.6rem;
        }
      }
    }
  }

  /** Small screen **/
  @media screen and (max-width: 500px) {
    .article-layout {
      article {
        padding-bottom: 1rem;
      }

      .article-body {
        h2 {
          font-size: 2em;
          line-height: initial;
          margin-top: 25px;
          margin-bottom: 25px;
        }

        p, ul {
          font-size: initial;
          line-height: 1.6rem;
        }

        ul {
          list-style: none;
          padding-left: 0.8rem;
          & > li:not(:last-child) {
            list-style-position: inside;
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }
}