/** Card style */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--theme-background-color-white);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

    &:hover {
      box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    }
  }

  .card-container {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .card-title-text {
    padding: 1rem 1rem 0 1rem;
    height: 100%;
  }

  .card-text {
    font-size: 0.95em;
    padding: 10px 16px 0 16px;
    width: 100%;
  }

  .card-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 170px;
  }

.explore {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    padding: 0 16px;
    border-radius: 2px;
    height: 36px;
    font-weight: 500;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;

    &:hover {
      background-color: var(--theme-background-color-white-dark);
    }
  }
}

.card-title-text {
    display: block;
  
    .card-title {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.75em;
      letter-spacing: normal;
    }
  
    .card-text {
      font-weight: 400;
      line-height: 1.40em;
      letter-spacing: normal;
    }
  }