<template>
  <div v-if="isSmallScreen !== undefined">
    <template v-if="!isSmallScreen">
      <div class="countries-view-container">
        <CountriesList v-on:country-changed='countryChanged' :countrySelected='countryName' class="country-list"/>
        <AsianMap v-on:country-changed='countryChanged' class='asian-map' :countrySelected='countryName' />
        <router-link class="country-card" tag='div' :to='{ path: "/pays/" + countryName, params: { countryName: countryName }}'>
          <Card :countrySelected='countryName' />
        </router-link>
      </div>
    </template>
    <template v-else>
      <div class="countries-view-container" >
        <router-link class="country-card" tag='div'  v-for="country in countries" :key="country.key + '-card'" :to="{ path: '/pays/' + country.key, params: { countryName: country.key }}">
          <Card :countrySelected='country.key'></Card>
        </router-link>
      </div>
    </template>
  </div>
</template>

<script>
import './../../../assets/style/card.scss'
import AsianMap from '../../../components/AsianMap.vue'
import CountriesList from '../../../components/List.vue'
import Card from '../../../components/Card.vue'
import { countries } from '../../../constants'

export default {
  name: 'CountriesView',
  mounted: function () {
    this.isSmallScreen = !!process.client && window.innerWidth < 500
  },
  data () {
    return {
      countries: countries,
      countryName: countries.find(country => country.current).key,
      isSmallScreen: undefined,
      title: `Liste des pays`
    }
  },
  components: {
    AsianMap,
    CountriesList,
    Card
  },
  methods: {
    countryChanged (countryName) {
      this.countryName = countryName
    }
  },
  head() {
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description: `La liste des pays que nous avons visité pour l'instant 🙂`,
          image: { src: `home`, alt: `Petit coucher de soleil en Indonésie` },
          title: `${this.title} | Bob & Pesto`,
          type: 'website',
          url: 'pays',
        },
        true
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.countries-view-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 3rem;

  height: 100%;

  .country-card {
    width: 100%;
  }

  .country-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

 /** Medium screen **/
@media screen and (min-width: 500px) and (max-width: 1150px) {
  .countries-view-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
  }

  .country-card {
    display: none;
  }
}

 /** Small screen **/
@media (max-width: 500px) {
  .countries-view-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
    grid-auto-rows: 150px;
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
  }

  .country-list, .asian-map {
    display: none;
  }
}

</style>
