<template>
  <div class="container">
    <h1 v-if="error.statusCode === 404">Ce que vous cherchez ne se trouve pas ici !</h1>
    <h1 v-else>Un problème est survenu !</h1>
    <p>
      Désolé, nous allons regarder ce qu'il s'est passé. En attendant, vous pouvez revenir à l'accueil 🙂
    </p>
    <nuxt-link to="/">Revenir à l'accueil</nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'error'
}
</script>


<style>
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding: 20% 0;
}
</style>
