<template>
  <div style='height: 100%;'>
    <ToolbarMenu />
    <Home class='home-page-container' v-if="$route.name=== 'index'" />
    <nuxt-child class='page-container'/>
  </div>
</template>

<script>
import Home from './../components/Home.vue'
import ToolbarMenu from './../components/ToolbarMenu.vue'

export default {
  name: 'App',
  components: {
    Home,
    ToolbarMenu,
  },
  data: function () {
    return {
      title: `Blog d'aventures`,
    }
  },
  head() {
    return {
      title: `${this.title} | Bob & Pesto` , 
      meta: this.$addMetaData(
        {
          description: `Coucou c'est nous 🙂, on vous présente notre petit bébé !`,
          image: { src: 'home', alt: `Coucher de soleil à Pulau Weh devant l'océan calme avec des teintes jaunes et orangées` },
          title: `${this.title} | Bob & Pesto`,
          type: 'website',
          url: '',
        },
        true
      )
    }
  }
}
</script>

<style>
:root {
  --toolbar-menu-height: 4.5rem;
}

@media (max-width: 1300px) {
  :root {
    --toolbar-menu-height: 3.5rem;
  }
}

@media (max-width: 500px) {
  :root {
    --toolbar-menu-height: 2.7rem;
  }
}

  html {
    overflow: auto;
    overflow-x: hidden;
    background: #fafafa;
    height: 100%;

    background-color: var(--theme-background-color-white);
    color: var(--theme-primary-color-dark);
  }

  body {
    font-family: 'Poppins', sans-serif;
    height: 100%;

  }

  #__nuxt, #__layout{
    height: 100%;  
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'K2D', sans-serif;
  }

  :root {
    --container-padding: 20px;
    --container-width: calc(100% - var(--container-padding) * 2);
    --container-max-width: 1500px;

    --theme-background-color-white: #FAFDFD;
    --theme-background-color-white-dark: darken(#FAFDFD, 0.4);
    --theme-link-color: #008280;
    --theme-link-color-hover: #006f6e;
    --theme-link-color-visited: rgb(99, 47, 116);
    --theme-primary-color-light-rgb: 54, 110, 134;
    --theme-primary-color-light: rgb(var(--theme-primary-color-light-rgb));
    --theme-primary-color-dark-rgb: 17, 47, 61;
    --theme-primary-color-dark: rgb(var(--theme-primary-color-dark-rgb), 0.95);
  }

  a {
    color: var(--theme-link-color);
    font-weight: bold;
    text-underline-offset: 3px;
  }

  a:hover {
    color: var(--theme-link-color-hover);
  }

  a:visited {
    color: var(--theme-link-color-visited);
  }

  .home-page-container {
    height: 100%;
  }

  .page-container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--toolbar-menu-height);
    padding-bottom: 1.25rem;
    height: 100%;
  }

  @media screen and (min-width: 500px) {
    .page-container {
      padding: var(--toolbar-menu-height) 1.9rem 1.25rem 1.9rem;
    }
  }

  @media (max-width: 500px) {
    .page-container {
      height: initial;
    }
  }

  button {
    border-style: none;
    color: inherit;
    background-color: inherit;
  }

  * {
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }
</style>
