<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            3 super spots de snorkeling
          </h2>
          <p>
            Il existe 3 spots de snorkeling à Amed et tous sont accessibles en scooter:
          </p>
          <p>
            1) <b>US Liberty Wreck Ship</b> est le plus impressionant. C'est un site de snorkeling rare car on peut y trouver une épave de bateau à 5 mètres de profondeur environ ! Il est à faire tôt le matin car les rayons du soleil traversent mieux la mer. 
            Il s'agit d'un <b>bateau échoué</b> au large mais immergé complètement dans l'eau. Cet endroit insolite abrite maintenant des petits poissons en tout genre. Si vous avez un peu de chance, vous y croiserez une tortue 😉
            Vous pouvez y aller en scooter et trouver l'endroit avec google map.
          </p>
          <p>
          2) <b>Un 'temple souterrain'</b> est à admirer à <b>Pantai Jemeluk</b> (plage d'Amed). Il est facilement repérable car il y a toujours du monde autour.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403210/article/amed/amed_door_to_beach.jpg" alt="Petit portail menant tout droit sur la plage" description='Petit portail menant tout droit sur la plage' />
          <p>
            3) <b>Japenese ship wreck point</b> est le dernier point de snorkeling avec moult poissons ainsi qu'une belle plage. Par contre, comme on est sur Bali, il peut y avoir du monde...
          </p>
          <p>
            Tout cela est faisable en une journée sans bateau. Louez un scooter et un équipement pour le snorkeling (demandez à votre logement) et c'est parti ! 🙂
          </p>
        </section>
        <section>
          <h2>
            L'ambiance reggea & chill
          </h2>
          <p>
            À Amed, l'ambiance est consacré au repos et à la plongée sous une influence reggae. Il est possible de faire du yoga, de la plongée ou encore de la plongée en apnée. Pour le coucher de soleil, nous vous conseillons le bar <b>sunset point</b>, il porte bien son nom 😁
            <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403217/article/amed/amed_sunset_point.jpg" alt="Coucher de soleil depuis le bar sunset point" description='Coucher de soleil depuis le bar sunset point' />
          </p>
          <p>
            Nous dormons dans un dortoir super sympa où l'ambiance reggae est présente: le <b>Pacha Hostel</b>. Il fait aussi bar de nuit, c'est agréable le soir de s'asseoir en écoutant soit du karaoké, soit des guitaristes.
            Si vous allez ou partez d'Amed pour Ubud: demandez au chauffeur qu'il s'arrête à <b>Tirta Gangga</b>. C'est un temple qui vaut le détour 🙂.
          </p>
        </section>
        <section>
          <h2>
            Le temple Tirta Gangga
          </h2>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404063/article/amed/amed_tirta_gangga_panorama.jpg" alt="Le temple Tirta Gangga" description='Le temple Tirta Gangga' />
          <p>
            Ce temple est bien connu grâce à ses plans d'eau très agréables. Nous marchons sur des petites pierres au bord de la surface de l'eau, comme suspendus autour des poissons 😍.
            Nous vous recommandons vivement de faire ce petit crochet ! L'entrée du temple est 40 000 IDR + 2 000 IDR pour le parking du scooter.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404063/article/amed/amed_tirta_gangga_pied.jpg" alt="Pesto marchant sur une dalle entourée de poissons" description='Entouré de poissons' />
          <p>
            Nous avons eu aussi un coup de coeur pour un restaurant proche du temple. Si vous aimez le chicken satay (ou le gado gado), direction le <b>Warung Pondok Mina</b> 🤤.
            Cette sauce cacahuète, mamamia !
          </p>
        </section>
        <section>
          <h2>
            Notre ressenti
          </h2>
          <p>
            Notre regret à Amed est d'y être resté seulement 3 jours.
            C'est un endroit paisible où l'on rencontre beaucoup de français adeptes de plongée. Il y a en a beaucoup dans le coin par rapport au reste de l'île !
          </p>
          <p>  
            Pour partir d'Amed, le <b>shuttle bus</b> est l'option la moins chère si vous voyagez seul.
            Il suffit de vous balader dans la rue, vous verrez des panneaux 'Shuttle Bus'. Une autre option est de demander à votre homestay.
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Amed'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)


export default {
  name: articleName,
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Amed: snorkeling et détente',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Trois magnifiques spots de snorkeling sont à découvrir dont le bateau échoué US navy.
           Beaucoup d'établissement de plongée français, de yoga et d'apnée.`
    const src = 'articles/amed'
    const url = 'pays/indonesie/articles/amed'
    const publishedTime= "2019-10-10T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Un indonésien peignant son bateau assis sur le sable en face de l'océan` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'amed plage snorkeling pmt bali',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/amed/amed_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/amed/amed_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/amed/amed_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/amed/amed_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/amed/amed_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/amed/amed_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/amed/amed_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/amed/amed_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/amed/amed_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/amed/amed_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/amed/amed_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/amed/amed_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/amed/amed_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/amed/amed_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/amed/amed_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/amed/amed_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/amed/amed_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/amed/amed_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/amed/amed_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/amed/amed_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/amed/amed_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
