<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            L'arrivée à Bagan depuis Mandalay
          </h2>
          <p>
            Nous arrivons à Bagan vers 4h du matin, notre bus de nuit depuis Mandalay est allé trop vite pour que nous puissions dormir toute la nuit dedans. Bien évidemment, il est trop tôt pour le check-in de notre homestay du lendemain soir.
            Nous profitons donc d'être réveillés pour attendre le lever du soleil car c'est <b>une des attractions phare de Bagan</b>. Quitte à faire une nuit blanche, autant le faire pour quelque chose d'utile et d'agréable 😉
          </p>
          <p>
            L'entrée à Bagan est payante (50k Kyats) et le taxi pour le coucher de soleil nous a couté 25k Kyats par personne.
            De tout notre voyage, Bagan risque d'être l'endroit où les dépenses seront le plus élevées dans notre voyage en Birmanie. Mais ça vaut quand même le coup !
            <br>
            Nous vous conseillons l'application <a href="https://fr.maps.me/" target="_blank" rel="no-follow noopener">MapsMe</a> pour vous aider dans vos déplacements, il y a aussi beaucoup d'informations sur la carte tels que les différents temples, leurs horaires, etc.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/bagan/bagan_maps_me.jpg" alt="Une impression d'éaran de d'une carte de l'application maps me avec plein de renseignements" description="L'application Maps Me" />
          <p>
            Nous choisissons <a href="https://goo.gl/maps/5RpS39ZxSecFP7f48" target="_blank" rel="no-follow noopener">ce spot</a> pour assister au lever du soleil.
            On ne va pas vous mentir, il y avait pas mal de monde 😄 Malgré ça, Le soleil orangé, la brique des temples et le vol des montgolfières en font <b>un magnifique lever de soleil</b>.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/bagan/bagan_lever_soleil.jpg" alt="Un magnifique lever de soleil orangé avec des montgolfières en fond de toile" />
        </section>
        <section>
          <h2>
            Visite des temples
          </h2>
          <p>
            Nous logeons à <a href="https://maps.app.goo.gl/DgsECgR7g8xenEZc9" target="_blank" rel="no-follow noopener">Bagan nova</a> dans le 'nouveau Bagan' en opposition avec le 'vieux Bagan' contenant le centre historique et les temples. Le moyen le plus simple pour rallier le 'vieux Bagan' et visiter les temples est de <b>louer un petit scooter électrique</b> chacun (dangereux à deux sur un seul car les scooters proposés ne sont pas assez stables, causant beaucoup d'accidents dans la région). Une fois nos scooters en main, nous demandons à l'accueil de notre hostel un petit plan avec les temples les plus connus. Nous décidons de faire notre propre itinéraire avec ces informations et nous partons directement.
            Les temples sont assez souvent fermés donc les escaliers pour monter en haut du temple sont aussi inaccessibles. C'est bien dommage de ne pas pouvoir admirer la vue d'en haut.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/bagan/bagan_scooter.jpg" alt="Au volant d'un scooter électrique, perdu en face d'un arbre" description="Le meilleur moyen de visiter, c'est de se perdre 😉" />
          <p>
            Une fois notre tour accompli (compter la journée le temps de tout admirer !), il nous faut trouver un spot pour le coucher de soleil.
            Nous choisissons finalement <a href="https://goo.gl/maps/i9aH2DNTQtUm3Jja6" target="_blank" rel="no-follow noopener">celui-ci</a>. En utilisant MapsMe, vous verrez des routes pour atteindre le lieu 😉.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/bagan/bagan_temple.jpg" alt="Un temple aux pierres rouges qui reflète le coucher de soleil" />
        </section>
        <section>
          <h2>
            Notre ressenti
          </h2>
          <p>
            Selon nous, Bagan est un passage très intéressant rien que pour son magnifique panorama sur les temples pendant le lever de soleil !
            Le fait de pouvoir se balader entre les temples est tellement agréable, ça donne vraiment <b>un sentiment de liberté</b>. Bien que les dépenses soient plus élevées qu’ailleurs en Birmanie, nous avons adoré cette étape 🙂
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListMyanmar from '~/constants/articlesListMyanmar'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Bagan'
const articleDetails = articlesListMyanmar.find(article => article.name === articleName)

export default {
  name: articleName,
  components: {
    ImageWithDescription,
  },
  data: function () {
    return {
      title: 'Bagan, un incontournable de la Birmanie',
      previousArticle: articlesListMyanmar.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListMyanmar.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = articleDetails.description
    const src = 'articles/bagan'
    const url = 'pays/myanmar/articles/bagan'
    const publishedTime = "2022-07-20T13:30:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Vue d'un temple sur le lever de soleil` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'bagan temples birmanie montgolfiere',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/bagan/bagan_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/bagan/bagan_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/bagan/bagan_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/bagan/bagan_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/bagan/bagan_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/bagan/bagan_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/bagan/bagan_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/bagan/bagan_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/bagan/bagan_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/bagan/bagan_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/bagan/bagan_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/bagan/bagan_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/bagan/bagan_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/bagan/bagan_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/bagan/bagan_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/bagan/bagan_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/bagan/bagan_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/bagan/bagan_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/bagan/bagan_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/bagan/bagan_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/bagan/bagan_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
