<template>
  <main class='article article-layout'>
    <article>
    <header>
      <h1>{{title}}</h1>
    </header>
    <div class='article-body'>
      <section>
        <h2>
          Le lever du soleil
        </h2>
        <p>
          Nous prenons le billet avec le lever du soleil compris à Borobudur pour <b>450 000 IDR</b>. Le prix est plutôt <b>excessif</b> et il y a beaucoup de touristes. Entre ceux qui parlent et d'autres qui se préparent pour leur photos Instagram, le silence est loin d'être présent 😕.
          Finalement, nous pensons que le mieux est de faire en une journée <nuxt-link tag='a' :to="{ path: 'prambanan' }">Prambanan</nuxt-link> et Borobudur. Il y a une offre moins cher en prenant les deux le même jour ! 
        </p>
        <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403227/article/borobudur/borobudur_lever_soleil.jpg" alt="Lever de soleil avec beaucoup de monde" description='Lever du soleil à Borobudur en grand comité' />
      </section>
      <section>
        <h2>Borobudur</h2>
        <p>
          La visite est agréable et intriguante. Il nous manque un guide car l'histoire de ce temple a l'air très intéressante !
          Il est facile de faire de belles photos et nous trouvons que le lieu dégage un certain mystère.
        </p>
        <p>
          Ça vaut le détour mais pas pour un lever de soleil ! Comptez 3h de visite, ça semble largement suffisant 🙂.
        </p>
        <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403220/article/borobudur/borobudur_stupa.jpg" alt="Statue de Bhudda dans le temple" description='Statue de Bhudda dans le temple' />
      </section>
    </div>
    <div class="article-footer">
      <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
      <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
    </div>
  </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Borobudur'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Borobudur',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: `Borobudur, temple emblématique de l'île de Java`,
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Borobudur est un des complexes de temples les plus visités de l’île de Java. Le levé de soleil attire des milliers de visiteurs mais cela ne vaut pas le coup.`
    const src = 'articles/borobudur'
    const url = 'pays/indonesie/articles/borobudur'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Le temple de borobudur avec une porte et des stupas` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'borobudur temple java indonesie',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/borobudur/borobudur_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/borobudur/borobudur_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/borobudur/borobudur_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/borobudur/borobudur_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/borobudur/borobudur_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/borobudur/borobudur_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/borobudur/borobudur_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/borobudur/borobudur_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/borobudur/borobudur_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/borobudur/borobudur_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/borobudur/borobudur_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/borobudur/borobudur_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/borobudur/borobudur_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/borobudur/borobudur_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/borobudur/borobudur_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/borobudur/borobudur_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/borobudur/borobudur_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/borobudur/borobudur_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/borobudur/borobudur_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/borobudur/borobudur_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/borobudur/borobudur_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
