<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Le départ depuis Labuan Bajo
          </h2>
          <p>
            Nous arrivons à Labuan Bajo pour obtenir des renseignements sur les possibles croisières en bateau de 3 jours et 2 nuits. Nous en avons entendu parlé via de multiples rencontres pendant le voyage. Celle qui nous a été le plus recommandée est la <b>Wanua Adventure</b>.
            Le tarif est de 2 250 000 IDR par personne tout compris.
            Pour faire cette croisière, vous devez prendre des baskets, des tongs, un maillot de bain et de la crème solaire.
            Sur la brochure, il est mentionné 'trek' mais nous allons vite voir qu'on est loin de gravir une montagne 😄.
            Nous avons apporté des bières en espérant se faire des amis pendant la croisière. Finalement, dès le premier jour, nous nous rendons vite compte que tous les participants étaient dans la même idée de chill, d'amitiés, et d'apéro 😜.
          </p>
        </section>
        <section>
          <h2>
            Jour 1 - Cap sur le Komodo !
          </h2>
          <p>
            Les paysages sont magnifiques entre les reliefs verdoyants et les plages paradisiaques.
            Nous nous arrêtons à <b>Rinca Island</b> et marchons 15 minutes sur un sentier bien tracé pour admirer un panorama splendide.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1618071909/article/croisiere-komodo/croisiere-komodo_paysage_ecosse.jpg" alt="Paysage de l'archipel du Komodo" description="Paysage de l'archipel du Komodo défilant sous nos yeux" />
          <p>
            Puis direction Komodo Island, une île de l'archipel où l'on peut apercevoir des <b>dragons du Komodo</b>.
            Ce sont des animaux très solitaires et ont beaucoup d'espaces pour évoluer. Il n'y a que très peu de chances d'en croiser un pendant une promenade ('trek') de 30 minutes.
            Nous avons été assez dubitatifs quant à cette activité. Nous avons croisé plusieurs dragons mais toujours proches des restaurants !
            Nous vous laissons le libre arbitre de croire en cette chance inouïe ou de penser à un attrape touriste 😅.
          </p>
          <p>
            Pour finir notre journée, nous allons vers une plage de sable rose. C'est la première fois que nous en voyons une de cette couleur !
            Le coucher de soleil arrive puis nous remontons dans le bateau pour y passer notre première nuit.
            Le bilan de la journée est très positif, comme un sentiment d'être ailleurs et de n'avoir rien à organiser 😉.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_sable_rose.jpg" alt="Plage de sable rose" description="Plage de sable rose" />
        </section>
        <section>
          <h2>
            Jour 2 - Padar Island, Raie manta et snorkeling
          </h2>
          <p>
            Nous nous levons tous à 5h du matin avant le lever du soleil. Nous faisons escale sur <b>Padar Island</b> et commençons à gravir l'île à l'affut du meilleur spot. 
            Le soleil arrive et nous sommes éblouis par la beauté du décor ! En plus du relief escarpé, nous avons une vue imprenable sur une plage de sable blanc, une plage de sable noir et une plage de sable rose 😍. 
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1618165321/article/croisiere-komodo/croisiere-komodo_padar.jpg" alt="Padar Island au lever du soleil" description="Padar Island au lever du soleil" />
          <p>
            Après un petit trajet en bateau, nous nous arrêtons à <b>Gila Laba</b> pour faire du snorkeling, puis à un spot de <b>raies manta</b>. 
            C'est impressionant voire intimidant de nager autour de ces raies. Pour finir cette journée, nous faisons plusieurs pauses pour nager dans des endroits magnifiques entourés d'une multitude de poissons.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_raie_manta.jpg" alt="Snorkeling avec les raies manta" description="Snorkeling avec les raies manta" />
        </section>
        <section>
          <h2>
            Jour 3 - Cascades, forêt et barbecue
          </h2>
          <p>
            La nuit dernière, le bateau a continué son trajet pendant 14h jusqu’à <b>Moyo Island</b>. Nous entrons alors en pleine forêt jusqu'à atteindre des cascades et des spots de baignades en pleine nature.
            Dans la journée, nous continuons le snorkeling et d'autres activités plutôt chill.
            Pour finir, dans la soirée, nous assistons à un des couchers de soleil les plus spectaculaires que nous ayons pû admirer sur le bateau !
            Puis, nous débarquons pour un dernier apéro sur <b>Gili Bola</b>. Un petit barbecue sur la plage pour finir cette journée bien remplie 🙂. 
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_coucher_soleil_bateau.jpg" alt="Dernier coucher de soleil sur le bateau" description="Dernier coucher de soleil sur le bateau" />
        </section>
        <section>
          <h2>
            Jour 4 - L'arrivée sur Lombok
          </h2>
          <p>
            Nous terminons cette croisière par une petite balade à <b>Kanawa Island</b> pour le lever du soleil !
            Un beau final avant d'arriver sur <b>Kuta Lombok</b>. Wanua Adventure propose plusieurs endroits de dépose, nous choisissons le port en direction de Gili Air.
            Cette croisière est un très bon bilan avec de belles rencontres et des paysages magnifiques (notamment le lever de soleil de Padar Island, une pépite 😍).
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = `La croisière du Komodo`
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)


export default {
  name: 'CroisiereKomodo',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: `La croisière Komodo de Wanua Adventure`,
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Cette croisière de 3 jours permet de voir des paysages magnifiques, faire du snorkeling et admirer une multitude de couchers de soleil.
          Elle permet en plus de rejoindre Lombok depuis Labuang Bajo 😉`
    const src = 'articles/croisiere-komodo'
    const url = 'pays/indonesie/articles/croisiere-komodo'
    const publishedTime= "2021-04-07T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData({
          description,
          image: { src, alt: `Le panorama au lever de soleil de la magnifique île de Padar` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'komodo padar croisiere wanua indonesie',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/croisiere-komodo/croisiere-komodo_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/croisiere-komodo/croisiere-komodo_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/croisiere-komodo/croisiere-komodo_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/croisiere-komodo/croisiere-komodo_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/croisiere-komodo/croisiere-komodo_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/croisiere-komodo/croisiere-komodo_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/croisiere-komodo/croisiere-komodo_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/croisiere-komodo/croisiere-komodo_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/croisiere-komodo/croisiere-komodo_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/croisiere-komodo/croisiere-komodo_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/croisiere-komodo/croisiere-komodo_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/croisiere-komodo/croisiere-komodo_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/croisiere-komodo/croisiere-komodo_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/croisiere-komodo/croisiere-komodo_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/croisiere-komodo/croisiere-komodo_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/croisiere-komodo/croisiere-komodo_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
