<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            La ville de Dawei
          </h2>
          <p>
            Nous nous sommes arrêtés à Dawei pour pouvoir profiter de la côte sud birmane. Une fois installés, nous commençons à explorer la ville.
            Nous sommes étonnés de son dynamisme par rapport à Moulmein ! Nous avons beaucoup aimé manger à <a href="https://maps.app.goo.gl/gY6hGBkNYDmsj8dt6" target="_blank" rel="no-follow noopener">Tavoy Kitchen</a> même si la cuisine y est plus orientée occidentale que locale.
            Pour organiser notre séjour, nous sommes allés chercher quelques conseils à <a href="https://maps.app.goo.gl/339kMXPKw3YAaeFfA" target="_blank" rel="no-follow noopener">Dawei Panorama Tours</a>.
          </p>
          <p>
            Nous entamons notre périple par la plage la plus proche et la plus vivante: <strong>Maungmagan</strong>. Nous y allons avec un scooter car la route est bien pratiquable.
            Notre premier objectif est de tester le <a href="https://maps.app.goo.gl/9c35JrdMfeUMEuJd9" target="_blank" rel="no-follow noopener">restaurant Crown</a> pour goûter des fruits de mers fraîchement pêchés.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/dawei/dawei_crabe.jpg" alt="Deux assiettes avec du riz et du crabes dedans" />
          <p>
            Une fois rassasiés, nous nous relaxons enfin sur la plage avec quelques locaux. Le plus difficile par ici est de trouver une plage propre sans déchet.
            Malheureusement les birmans n’ont pas la 'culture' du recyclage et de la gestion du déchet. Ils n'ont souvent aucune notion du danger du plastique mais aussi aucun moyen de le recycler convenablement.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/dawei/dawei_plage.jpg" alt="Une plage avec personne aux alentours et une vue sur la mer" />
        </section>
        <section>
          <h2>
            Les activités
          </h2>
          <p>
            Nous continuons notre visite en scooter les jours suivants. Nous effectuons une boucle <b>Dawei - Launglon - Maungmagan</b> mais en passant par la côte (certaines routes ne sont visibles que sur Maps Me). Autant vous prévenir, les routes sont vraiment pour les motards expérimentés ! Elles sont chaotiques 😅
          </p>
          <p>
            Notre première étape est le <a href="https://goo.gl/maps/fbWtnEZjkaW5Mpn77" target="_blank" rel="no-follow noopener">temple de paNyit</a> puis nous nous dirigeons vers la <a href="https://maps.app.goo.gl/42pGrMmaTaYymszV8" target="_blank" rel="no-follow noopener">Myaw Yit Pagoda</a>.
            Les paysages qui défilent sous nos yeux sont rustiques et dépaysants.
            La boucle étant relativement longue, <b>prévoyez la journée</b> pour la découvrir 🙂
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/dawei/dawei_temple.jpg" alt="Stupa sur une roche au bord de la mer" />
          <p>
            Une dernière activité envisageable dans le coin est de passer quelques jours vers le <a href="https://maps.app.goo.gl/dCxz8V6HTGe6pYZJ6" target="_blank" rel="no-follow noopener">Sea View Beach Bungalows</a> pour se reposer et profiter des plages qui se trouvent plus au sud de Dawei. Nous n’avons pas pû y aller, malheureusement notre VISA est de 28 jours et notre temps est compté !
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListMyanmar from '~/constants/articlesListMyanmar'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Dawei'
const articleDetails = articlesListMyanmar.find(article => article.name === articleName)

export default {
  name: articleName,
  components: {
    ImageWithDescription,
  },
  data: function () {
    return {
      title: 'Dawei ou Tavoy, le départ pour des plages sauvages',
      previousArticle: articlesListMyanmar.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListMyanmar.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = articleDetails.description
    const src = 'articles/dawei'
    const url = 'pays/myanmar/articles/dawei'
    const publishedTime = "2022-07-20T13:30:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Vue depuis la plage, en face un bateau de pêche au loin` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'dawei birmanie plage',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/dawei/dawei_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/dawei/dawei_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/dawei/dawei_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/dawei/dawei_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/dawei/dawei_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/dawei/dawei_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/dawei/dawei_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/dawei/dawei_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/dawei/dawei_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/dawei/dawei_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/dawei/dawei_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/dawei/dawei_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/dawei/dawei_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/dawei/dawei_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/dawei/dawei_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/dawei/dawei_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/dawei/dawei_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/dawei/dawei_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/dawei/dawei_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/dawei/dawei_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/dawei/dawei_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
