<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Gili Air
          </h2>
          <p>
            Nous arrivons à Gili Air par le bateau depuis <a href="https://maps.app.goo.gl/6xn1NWD5K1XuQd766" target="_blank" rel="no-follow noopener">le port de Bangsal</a> et la première impression est très positive ! Il se dégage de cette île une ambiance apaisante, avec des cocotiers bordant les plages. 
            Nous décidons de séjourner dans un hôtel avec piscine car comme à Ubud, ils sont nombreux et à des prix très accessibles !
            Pour notre part, nous avons posé nos sacs à dos au <a href="https://www.booking.com/hotel/id/turtle-beach-gili-air.en.html?aid=7917926&no_rooms=1&group_adults=2" target="_blank" rel="no-follow noopener">Turtle Beach Hostel</a>.
          </p>
          <p>
            Les activités sont plutôt chill : <br>
            Nous parcourons <b>le tour de l’île en vélo</b>, il se fait en une petite après-midi (n’oubliez pas votre maillot de bain et votre matériel de snorkeling pour piquer une tête pendant votre circuit !). Vous pouvez louer facilement des vélos sur l’île !
            Hormis le vélo, se balader et se perdre dans les rues est aussi une bonne manière de découvrir l’île et de trouver de bons restaurants !
            En voici 2 qui nous ont gustativement fait plaisir :
            <ul class="arrow-list-container">
              <li>pour le côté sucré, nous sommes tombés sur une petite pépite qui fait des crêpes débordant de Nutella : <a href="https://g.page/breadelicious?share" target="_blank" rel="no-follow noopener">le Breadelicious</a></li>
              <li>pour le côté salé, <a href="https://maps.app.goo.gl/d2kiheV7UB1MG5yH6" target="_blank" rel="no-follow noopener">le Warung Alam Damai</a> nous a régalés</li>
            </ul>
            Pour les personnes faisant un grand voyage et étant en manque de nourriture européenne, vous trouverez aussi de quoi recharger vos batteries 😉
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_plage.jpg" alt="Vue d'une plage à Gili Air avec une balançoire" description="" />
          <p>
            En résumé, les activités sont plutôt classiques mais le temps passe vraiment très vite sur cette île ! C’est l’endroit parfait pour se ressourcer !
            Côté snorkeling, nous avons essayé plusieurs spots pour voir les tortues mais malheureusement, impossible d’en rencontrer une ! Nous partons donc une journée sur <strong>Gili Meno</strong>, l’île voisine réputée pour ses tortues et ses spots aquatiques:)
            Pour cette journée, nous prenons un <b>bateau-bus local</b> à 8h30 qui viendra nous rechercher à 15h30. Le trajet se fait en moins de 20 minutes et coûte 70k IDR A/R par personne.
          </p>
        </section>
        <section>
          <h2>
            Gili Meno
          </h2>
          <p>
            Parmi les 3 îles (Air, Meno et Trawangan), Gili Meno est <b>la moins fréquentée</b>. Cela se ressent en terme de restaurants et bars, elle est plus arborisée. Notre priorité étant de voir les tortues, nous demandons assez rapidement à un local un endroit idéal. 
            Après conseil, nous enfilons nos masques et tubas loués sur la plage (il est facile de trouver des endroits pour la location) et allons d’un pas bien décidé dans l’eau. À peine 10 mètres de parcourus, Pesto découvre THE tortue. Environ 2 Bob de large, il faut avouer que la surprise fût belle ! Au total en 2 heures de balade aquatique, nous faisons la rencontre de 10 tortues. Autant dire que l’objectif de la journée est plus qu’atteint !
            Voici <a href="https://goo.gl/maps/jxtTSZTRMrXco1aT9" target="_blank" rel="no-follow noopener">le lien pour trouver le spot</a> 🙂.  
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_meno_tortue.jpg" alt="Une tortue remontant à la surface" description="Snorkeling en bonne compagnie" />
          <p>
            De l’autre côté de l’île se trouve un autre spot de snorkeling comprenant <b>48 statues à 3 mètres de profondeur</b>. Cette structure sert de récif artificiel pour les poissons, ce qui rend ce spot à la fois surprenant et utile. L’œuvre du sculpteur Jason de Caires Taylor se nomme <b>Nest</b>.
            Les statues représentent 24 couples qui s’enlacent en formant un cercle. Le seul petit bémol est qu’il y a énormément de touristes, mais nous vous le conseillons tout de même ! Avec un peu de patience, vous pouvez prendre une photo réussie sans la palme d’un collègue de baignade sur le cliché. Vous pouvez trouver ce petit coin bien sympa 
            <a href="https://maps.app.goo.gl/ZkS9h56a7QykmNQN6" target="_blank" rel="no-follow noopener">entre le Lascar Café et le Diana Café</a>. Vous apercevrez sûrement au large un attroupement de tubas 😄 (n’hésitez pas à demander aux locaux si vous ne trouvez pas).
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_meno_nest.jpg" alt="Pesto plongeant en snorkeling vers la structure avec 48 statues" description="Rare photo sans palme de touristes" />
          <p>
            En bref : énorme coup de cœur pour cette île !
          </p>
        </section>
        <section>
          <h2>
            Quelle île Gili choisir ?
          </h2>
          <p>
            Bon à savoir : chaque île à sa particularité, à vous de voir ce qui vous convient le mieux :
            <ul class="arrow-list-container">
              <li><strong>Gili Trawangan</strong> : c’est l’île la plus fréquentée et la plus 'festive'. C’est aussi la plus grande des 3. Disons que si vous aimez faire la fête la nuit et de la plongée le jour, cette île est probablement faite pour vous ! </li>
              <li><strong>Gili Air</strong> : nous avons séjourné sur cette île, il y a des cafés, des restaurants et bars sans que cela ne vienne perturber l’ambiance calme et reposante de l’île. Il y a de tous les âges, elle est parfaite pour quelques jours de détente en famille par exemple. Elle reste fréquentée mais beaucoup moins que Gili Trawangan.</li>
              <li><strong>Gili Meno</strong> : c’est la plus petite île des 3, elle est plus sauvage et possède beaucoup moins d’hébergements / restaurants. Elle est moins fréquentée ce qui fait d’elle un coin non dénaturé. Elle est peu animée ce qui la rend idéale si vous aimez réellement le calme et les belles plages.</li>
            </ul>
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Les îles Gili'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)


export default {
  name: articleDetails.componentName,
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Les îles Gili: entre plages, tortues et restaurants',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const src = 'articles/gili'
    const url = 'pays/indonesie/articles/gili'
    const publishedTime= "2022-01-23T10:00:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description: articleDetails.description,
          image: { src, alt: `une tortue sous l'eau dans un herbiers au bord du rivage ` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description: articleDetails.description,
        keywords: 'gili plage snorkeling pmt bali tortue',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/gili/gili_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
