<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Les paysages autour de Hpa-An
          </h2>
          <p>
            Une fois arrivés à Hpa-An, nous allons à la <a href="https://goo.gl/maps/JTNJpyC7HrwVZLac6" target="_blank" rel="no-follow noopener">Kyaut Ka Latt Pagoda</a>. L’endroit n’est pas forcément incroyable mais le côté atypique l’emporte sur le reste.
            Nous montons les escaliers de ce temple pour profiter de la vue et nous commençons à voir un petit inconvénient.
            Du fait que ce soit un temple, il nous est demandé de retirer nos chaussures (jusque là, tout va bien), en revanche petit 'hic' : les escaliers sont parsemés de fientes 😆.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hpaan/hpaan_temple.jpg" alt="Vue du temple au bors de l'eau" />
          <p>
            Pour le coucher du soleil, nous décidons de nous diriger aux alentours de 17h30 vers une <a href="https://goo.gl/maps/SqTMGLGfALzHLBqG8" target="_blank" rel="no-follow noopener">grotte de chauve souris</a>. Nous commençons à entendre un grondement s’échappant de la grotte.
            Au moment où quelques chauve souris s’en échappent, des birmans se mettent à faire des percussions pour les faire sortir en même temps. Celles-ci entendent les ultrasons et se mettent à <b>voler en rythme</b>.
            C’était vraiment un moment magique avec un coucher de soleil en fond de toile !!
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hpaan/hpaan_grotte_chauve_souris.jpg" alt="Coucher de soleil sur hpaan avec des chauves souris qui sortent de la grotte" />
          <p>
            Le jour d’après, nous décidons de faire l’ascension de la montagne <a href="https://goo.gl/maps/zg2y2uja18cdLg6v8" target="_blank" rel="no-follow noopener">Zwe Kabin</a>. Nous prenons un tuktuk (aller retour 10 000 Kyatts) et arrivons devant le <a href="https://goo.gl/maps/2ZytjtttZCVD1Nwi6" target="_blank" rel="no-follow noopener">Lumbini Garden</a> qui constitue l’entrée de la montagne (8 000 Kyatts).
            En Birmanie, vous allez forcément voir énormément de bouddhas, mais ce jardin est le pompom sur la Garonne : il y a des bouddhas à perte de vue ! Nous arrivons ensuite aux pieds des marches, prêts pour l’ascension.
            Après 600 mètres de dénivelé de marches positives (préparez vous psychologiquement !), nous tombons sur un magnifique panorama sur les alentours de Hpa-An. Auparavant, il était possible de dormir au temple qui se trouve dans les hauteurs mais malheureusement, ce n’est plus le cas.
            Nous restons jusqu’au coucher de soleil puis redescendons avec prudence. <b>Apportez une bonne frontale</b> car le retour nocturne est compliqué sinon !!
          </p>
          <SideBySideImages :images="images" />
          <p>
            Un dernier point de vue que nous pouvons vous conseiller est celui des assiettes du <a href="https://goo.gl/maps/nyFVdoyndhBsVi9x5" target="_blank" rel="no-follow noopener">restaurant Wadee</a> 😋.
          </p>
        </section>
        <section>
          <h2>
            Des grottes et des grottes
          </h2>
          <p>
            Nous n’aimons pas forcément les grottes mais c’est un peu un incontournable à Hpa-An.
            Nous commençons par la <a href="https://goo.gl/maps/peMATL9Q8jSVRpNU7" target="_blank" rel="no-follow noopener">Grotte Saddan</a>. 
            L’entrée de la grotte ne nous a pas convaincu mais en allant vers le fond de celle-ci, il nous a été proposé un super tour en barque que nous avons adoré ! (Bateau 3 000 Kyatts et entrée 2 000 Kyatts par personne)
          </p>
          <p>
            Une fois rentrés de ce petit tour, nous partons direction la <a href="https://goo.gl/maps/bmcHYHyu1WbKZV1YA" target="_blank" rel="no-follow noopener">Grotte KawGon</a>. À choisir, nous aurions pu nous passer de cette visite.
            Cette grotte est payante (3 000 Kyatts/pers) et se fait très rapidement. Si vous aimez les singes, ce temple peut vous plaire 😄.
          </p>
          <p>
            Pour terminer notre tour, nous allons à la <a href="https://goo.gl/maps/nYEvm2xEHxwzLv1eA" target="_blank" rel="no-follow noopener">Grotte Yathae Pyan</a> qui offre un <b>panorama imprenable</b> sur Hpa-An et la montagne Zwe Kabin.
            N’hésitez pas à aller jusqu’au bout de la grotte, elle offre un passage vers l'autre côté et un nouveau panorama !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hpaan/hpaan_grotte_barque.jpg" alt="Depuis une barque, on en croise une autre dans une rivière calme" />
          <p>
            En bref, les grottes dans les environs valent le coup et il ne faut pas hésiter à pousser la visite jusqu’au bout 😉.
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListMyanmar from '~/constants/articlesListMyanmar'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import SideBySideImages from '~/components/common/SideBySideImages.vue'
import '@/assets/article-style.scss'

const articleName = 'Hpaan'
const articleDetails = articlesListMyanmar.find(article => article.name === articleName)

export default {
  name: articleName,
  components: {
    ImageWithDescription,
    SideBySideImages
  },
  data: function () {
    return {
      title: 'Hpaan, entre panorama et grottes',
      previousArticle: articlesListMyanmar.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListMyanmar.find(article => article.name === articleDetails.nextArticle),
      images: [
        {
          src: "https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hpaan/hpaan_papillon.jpg",
          alt: "Un papillon qui se camoufle avec des ailes qui ressemblant à une feuille",
          description: "Feuille ou papillon ?"
        },
        {
          src: "https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hpaan/hpaan_montagne_panorama.jpg",
          alt: "Panorama depuis le sommet avec une vue sur une stupa au loin",
          description: "Une stupa au loin"
        }
      ]
    }
  },
  head () {
    const description = articleDetails.description
    const src = 'articles/hpaan'
    const url = 'pays/myanmar/articles/hpaan'
    const publishedTime = "2022-07-20T13:30:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Vue sur la montagne Zwe Kabin` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'hpaan Zwe Kabin birmanie grotte temple',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/hpaan/hpaan_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hpaan/hpaan_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hpaan/hpaan_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hpaan/hpaan_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hpaan/hpaan_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hpaan/hpaan_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hpaan/hpaan_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/hpaan/hpaan_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hpaan/hpaan_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hpaan/hpaan_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hpaan/hpaan_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hpaan/hpaan_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hpaan/hpaan_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hpaan/hpaan_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/hpaan/hpaan_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hpaan/hpaan_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hpaan/hpaan_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hpaan/hpaan_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hpaan/hpaan_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hpaan/hpaan_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hpaan/hpaan_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
