<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Comment aller à Hsipaw depuis Mandalay ?
          </h2>
          <p>
            3 solutions sont normalement envisageables :
            <ul class="arrow-list-container">
              <li>
                Le train : Comptez 12h de transport mais avec une vue magnifique à travers champs, un train atypique et une traversée d’un viaduc peu rassurante !
                Le viaduc de Gokteik est l'attraction la plue connue du trajet mais c'est finalement la partie la moins intéressante selon nous.
                En fait, nous pensons que pour faire <b>12h de train</b> dont 5 min de passage de viaduc seulement, il ne faut pas aimer le viaduc mais aussi le voyage en lui-même 😉.
                Le départ du train est à <b>4h du matin</b> ! Par contre, il coûtait moins de 5 000 Kyats par personne (en classe dite supérieure).
                C’est l’option que nous avons choisi pour l’aller. Ce n’était pas l’option la plus courte mais la plus dépaysante. Pensez à prévoir de l’eau au minimum !
              </li>
              <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hsipaw/hsipaw_train.jpg" alt="Le train qui repart après s'être arrêter à une petite gare" description="Le fameux train qui traverse la campagne birmane" />
              <li>
                Le bus : Une solution un peu plus chère mais bien plus rapide qu’en train (<b>environ 5h</b>) ! C’est l’option qu’on a choisi pour le retour.
                Par contre, les birmans ont vraiment le mal des transports, quelques vomis sont à prévoir 🤣.
                Pour réserver votre bus, il y a la compagnie <a href="https://www.jjexpress.net" target="_blank" rel="no-follow noopener">jjexpress</a> mais elle ne dessert pas toutes les destinations.
                Sinon, demandez directement à l’accueil de votre hostel.
              </li>
              <li>
                Taxi privé : C’est la solution la plus rapide et la moins contraignante. Mais bien sûr, c’est la plus coûteuse SAUF si vous remplissez la voiture 😉.
              </li>
            </ul>
          </p>
        </section>
        <section>
          <h2>
            Le logement
          </h2>
          <p>
            Beaucoup de backpackers se recommandent mutuellement l’hôtel Mr Charles. Mais une fois arrivés à Hsipaw, il n’y avait déjà plus de place.
            Nous aurions dû au moins réserver la première nuit. Nous optons donc pour le Red Dragon Hotel qui est relativement passable pour une nuit.
            Pour l’anecdote, vous devrez monter 4 étages lorsque vous irez vous laver les dents car la salle de bain est sur le toit !
          </p>
        </section>
        <section>
          <h2>
            Le trek avec Mr Charles
          </h2>
          <p>
            Même si nous ne logeons pas chez Mr Charles, nous optons quand même pour son circuit de trek.
            Nous n’avons pas pu faire le trek le plus connu parce qu'une touriste Coréenne s’est noyée la veille de notre arrivée. 
          </p>
          <p>
            Le trek se déroule sur 2 jours. Nous formons un groupe de 7 personnes, ce qui reste raisonnable pour pouvoir écouter et suivre le guide.
            En bonus, le guide est drôle, hyper sympathique et maîtrise parfaitement l’anglais !
            Il répond à toutes nos questions de curieux occidentaux comme par exemple, des questions sur le mariage et la dot. 
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hsipaw/hsipaw_guide_bulles.jpg" alt="Le guide fait des bulles en ayant cassé la queue d'une feuille d'arbre" description="Le guide qui nous apprend à faire des bulles 😄" />
          <p>
            Le premier jour, nous marchons à travers champs à l’écoute des histoires et de la culture de notre guide. 
            Petite particularité, nous sommes passés devant un groupement armé, ce sont des rebelles qui sont "en guerre froide" contre l'État afin que leurs ethnies soient mieux reconnues.
            <br>En début de soirée, nous arrivons au petit (tout petit) village où nous allons dormir.
            Nous ne savons pas si c’est dû à l’effort, mais tous les plats cuisinés par notre guide et nos hôtes sont exc-ell-ents 😋 
            De tout notre périple en Birmanie, c’est pendant les treks que nous mangeons le mieux !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/hsipaw/hsipaw_agricultrice.jpg" alt="Une agricultrice dans les champs souriant en nous voyant" description="" />
          <p>
            Le deuxième jour commence sur un petit écart. Malgré notre tenue de sport, nous nous sommes fait inviter à <b>un mariage</b> !
            Les mariés se sont pris en photo avec nous, on espère qu’elle sera arborée dans leur salon 🤣
            En discutant avec eux quelques minutes, nous apprenons que la mariée est âgée de 17 ans !
            Après cette petit épopée, nous finissons le trek sur de magnifiques panoramas dont un passage douche sous une cascade 😍.
          </p>
        </section>
        <section>
          <h2>
            Bilan du trek à Hsipaw
          </h2>
          <p>
            En terme de paysages, ce trek est comparable à celui du lac Inle.
            En revanche, nous nous sentions plus immergés dans la culture, au plus près des petits villages birmans !
            Pour nous, c’était une expérience inoubliable !
          </p>
          <p>
            Côté financier, ce trek a coûté <b>30 000 Kyats</b>, et nous avons tous donné un pourboire au guide de 5 000 Kyats chacun.
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListMyanmar from '~/constants/articlesListMyanmar'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Hsipaw'
const articleDetails = articlesListMyanmar.find(article => article.name === articleName)

export default {
  name: articleName,
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Hsipaw et son trek nature',
      previousArticle: articlesListMyanmar.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListMyanmar.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = articleDetails.description
    const src = 'articles/hsipaw'
    const url = 'pays/myanmar/articles/hsipaw'
    const publishedTime= "2022-03-06T12:00:00+00:00"
    const modifiedTime= "2022-03-06T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Un water buffalo dans un champs de colza et mangeant du foin` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'hsipaw train trek nature mariage',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/hsipaw/hsipaw_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hsipaw/hsipaw_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hsipaw/hsipaw_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hsipaw/hsipaw_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hsipaw/hsipaw_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hsipaw/hsipaw_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hsipaw/hsipaw_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/hsipaw/hsipaw_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hsipaw/hsipaw_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hsipaw/hsipaw_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hsipaw/hsipaw_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hsipaw/hsipaw_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hsipaw/hsipaw_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hsipaw/hsipaw_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/hsipaw/hsipaw_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hsipaw/hsipaw_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hsipaw/hsipaw_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hsipaw/hsipaw_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/hsipaw/hsipaw_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/hsipaw/hsipaw_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/hsipaw/hsipaw_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
