<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Se rendre du mont Bromo à Kawah Ijen
          </h2>
          <p>
            Kawah Ijen est l'une des attractions les plus connues de l'île de Java notamment grâce à ses flammes bleues et son lac acide (<b>le plus grand du monde</b>).
            Il y a plusieurs manières de rejoindre Kawah Ijen depuis le <nuxt-link tag='a' :to="{ path: 'mont-bromo' }">mont Bromo</nuxt-link>.
          </p>
          <p>
            Pour notre part, nous prenons le bus public depuis Cemoro Lawang qui nous dépose à la station de bus à 700 mètres de la gare.
            Nous avons hésité à prendre le train pour Banyuwangi mais finalement, un homme à la station de bus nous propose de nous amener à <b>Sempol</b>.
            Cet endroit est de l'autre côté (ouest) d‘Ijen par rapport à Banyuwangi. La bonne nouvelle est qu'il y a moins de distance à parcourir pour parvenir au volcan (avant le lever du soleil). 
            Et oui, le sommeil, ça compte !
          </p>
        </section>
        <section>
          <h2>Kawah Ijen</h2>
          <p>
            Départ à 1h du matin avec un peu de route pour rejoindre Ijen. A l'arrivée, la douane taxe tous les passagers <b>150 000 IDR</b> par personne le week-end et <b>100 000 IDR</b> en semaine 😬.
          </p>
          <p>
            Le début de l'ascension de kawah Ijen est rude car il y a beaucoup de vent qui soulève la poussière. Nous nous retrouvons <b>en file indienne</b> car il y a trop de touristes pour un si petit chemin.
            En prime, des locaux montent des touristes en 'remorque' pour 1 000 000 IDR !! L'avantage est que les personnes à mobilité réduite peuvent monter jusqu'au sommet 🙃.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403283/article/ijen/ijen_brancard.jpg" alt="Un touriste faisant la descente en brancard" description='Un touriste faisant la descente en remorque' />
          <p>
            Une fois arrivés dans le cratère, nous partons admirer les flammes bleues avant le lever du soleil.
            Puis direction le lac avec des <b>masques</b> pour se protéger du souffre. Le lac est bien chaud mais bien sûr la baignade est interdite 😄.
            Pour finir la visite en beauté, nous remontons vers le haut du cratère pour admirer <b>le lever du soleil</b>.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_bluefire.jpg" alt="Les flammes bleues s'échappant du volcan la nuit" description="Les flammes bleues s'échappant du volcan" />
        </section>
        <section>
          <h2>Notre ressenti</h2>
          <p>
            La montée au volcan fut plutôt désagreable, mais on est finalement <b>bien récompensés</b> à l'arrivée 😍! Entre Bromo et Ijen, notre choix se porte sur Bromo sans hésiter mais le mieux est de ne pas avoir à choisir.
            Petit conseil: Prenez une écharpe ou <b>un foulard</b> pour éviter de se prendre le sable dans les yeux 😉.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403262/article/ijen/ijen_ijen.jpg" alt="Vue du Kawah Ijen au lever du soleil" description="Vue du Kawah Ijen au lever du soleil" />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Mont Kawah Ijen'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Ijen',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Kawah Ijen et ses flammes bleues',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Kawah Ijen est un volcan détenant le plus grand lac acide au monde. Mais il y a aussi les blue fires que l'ont peut admirer avant le levé du soleil !`
    const src = 'articles/ijen'
    const url = 'pays/indonesie/articles/ijen'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Le volcan Ijen au lever du soleil avec vue sur son lac acide et de la fumée de volcan s'echappant au dessus` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'ijen volcan lever soleil blue fire java indonesie',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
// Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/ijen/ijen_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ijen/ijen_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ijen/ijen_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ijen/ijen_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ijen/ijen_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/ijen/ijen_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ijen/ijen_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ijen/ijen_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ijen/ijen_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ijen/ijen_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/ijen/ijen_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ijen/ijen_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ijen/ijen_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ijen/ijen_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ijen/ijen_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ijen/ijen_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
