<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            L’arrivée sur Loikaw
          </h2>
          <p>
            Nous arrivons sur Loikaw en voiture depuis le lac Inle. Nous décidons de nous installer au <a href="https://g.page/kayan-golden-sky-motel?share" target="_blank" rel="no-follow noopener">Kayan Golden Sky Hostel</a>.
            Les prix des logements sont plus chers à Loikaw que dans le reste de la Birmanie car le choix est restreint, il n’y a que très peu de compétitivité entre les hôtels ou restaurants.
          </p>
          <p>
            La ville n’a pas un grand intérêt mais nous avons quand même apprécié le coucher du soleil au temple <a href="https://goo.gl/maps/nXaqNq3r3SFws7DY6" target="_blank" rel="no-follow noopener">Sri Mingala Taung Taw</a>. C’est un complexe très original qui vaut le détour 🙂 
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/loikaw/loikaw_temple.jpg" alt="Le temple Sri Mingala Taung Taw au coucher du soleil" />
          <p>
            Notre premier objectif est de <b>trouver un guide</b> pour pouvoir visiter le village reculé des Karens, tout en respectant l’endroit et les traditions.
            Nous nous sommes renseignés auprès de l'hôtel mais ils n’ont su que nous proposer des tours organisés à 100 dollars environ.
            Finalement, en se baladant dans la ville, nous faisons la connaissance de Victoria dans <a href="https://goo.gl/maps/xrJM3cd6PDWA4zUZA" target="_blank" rel="no-follow noopener">sa boutique de souvenirs</a>.
            Elle parle très bien anglais et a réussi à nous trouver un guide très gentil et dynamique. Il s’agit d’un jeune local originaire de la région des Karens souhaitant perfectionner son anglais.
            Vous l’aurez compris, <b>l’anglais est pratiquement indispensable</b> !
            Victoria a pris soin de nous jusqu’à la fin de notre séjour sans jamais nous demander quoi que ce soit en retour. C’est vraiment une personne que nous n’oublierons pas de si tôt !
          </p>
        </section>
        <section>
          <h2>
            Le village des karens
          </h2>
          <p>
            Nous arrivons <a href="https://goo.gl/maps/bTJoaPeCAv7TgBbu6" target="_blank" rel="no-follow noopener">au village</a> après une route chaotique et nous entrons dans la propriété de notre hôte.
            Nous avons de suite été accueillis par la doyenne du village.
            À notre surprise, elle reçoit assez souvent de la visite de touristes mais elle en est très contente car elle manque de compagnie dans sa grande maison !
            Elle a été ravie de nos cadeaux (bétel et tabac acheté à Loikaw préalablement) et nous avons pu discuter avec elle sur sa vie mais aussi sur <b>le peuple Karen et de son évolution</b>.
            Elle nous a même invités à goûter le vin traditionnel qu’elle confectionne ! 
          </p>
          <p>
            Pendant cet échange, nous apprenons que les Karens ont été persécutés et ont fui au nord de la Thaïlande. Grâce à leur culture, ils ont pu attirer les touristes et en faire leur métier.
            Une partie de la population est revenue en Birmanie et une autre est restée pour vivre en Thaïlande du tourisme. L’avenir des Karens est malheureusement incertain.
            Les filles, à partir de 18 ans, font souvent le choix de retirer leurs ornements afin de poursuivre les études à la fac.
            Celles qui les gardent le font seulement pour faire perdurer le tourisme autour de leur culture. Cette idée rend bien triste notre hôte si fier de sa culture et de ses ornements.
            Elle se trouve belle avec et il faut l’avouer, nous partageons totalement son avis 🙂 On ne vous en dit pas plus mais cet échange était d’<b>une richesse incroyable</b>. Notre guide a été génial !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/loikaw/loikaw_karen.jpg" alt="Une mamie Karen qui boit son petit vin fait maison, le sourire aux lèvres" />
          <p>
            Nous partons ensuite à la découverte du village ainsi que de son école. Nous nous rendons compte qu’ils sont habitués à recevoir des touristes et semblent très contents de nous voir.
            Pour ce qui est du village, la rue principale est parsemée de petits commerces vendant des écharpes artisanales et autres petits objets si vous souhaitez rapporter un souvenir tout en aidant les locaux 🙂.
          </p>
        </section>
        <section>
          <h2>
            Notre ressenti
          </h2>
          <p>
            L'apogée de notre séjour fût la discussion avec le guide et notre hôte. Cet échange a été pour nous un moment privilégié.
            Nous vous conseillons cette destination si vous avez envie de voir ce peuple mais cela demandera de la logistique au niveau des transports car ce n’est <b>pas si facile d’accès</b>.
            Les paysages ne valent pas ceux du trek Inle ou <nuxt-link tag='a' :to="{ path: 'hsipaw' }">Hsipaw</nuxt-link> car le territoire est plus aménagé dans cette région.
          </p>
          <p>
            Par contre, nous pensons que cet 'éco tourisme' est menacé. À peine après avoir terminé notre visite, nous remarquons un bus rempli de touristes débarquer dans le petit village.
            Ils ont traversé la rue principale en faisant quelques photos et en achetant des souvenirs.
            15 minutes plus tard, ils étaient partis. Les locaux vont sûrement s’adapter à ce type de tourisme de masse car il est plus rentable. L’authenticité va être difficile à préserver au fur et à mesure des années.
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListMyanmar from '~/constants/articlesListMyanmar'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Loikaw'
const articleDetails = articlesListMyanmar.find(article => article.name === articleName)

export default {
  name: articleName,
  components: {
    ImageWithDescription,
  },
  data: function () {
    return {
      title: 'Loikaw et le peuple Karen',
      previousArticle: articlesListMyanmar.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListMyanmar.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = articleDetails.description
    const src = 'articles/loikaw'
    const url = 'pays/myanmar/articles/loikaw'
    const publishedTime = "2022-07-20T13:30:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Une femme du peuple Karen dans son village` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'loikaw culture birmanie karen',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/loikaw/loikaw_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/loikaw/loikaw_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/loikaw/loikaw_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/loikaw/loikaw_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/loikaw/loikaw_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/loikaw/loikaw_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/loikaw/loikaw_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/loikaw/loikaw_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/loikaw/loikaw_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/loikaw/loikaw_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/loikaw/loikaw_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/loikaw/loikaw_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/loikaw/loikaw_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/loikaw/loikaw_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/loikaw/loikaw_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/loikaw/loikaw_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/loikaw/loikaw_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/loikaw/loikaw_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/loikaw/loikaw_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/loikaw/loikaw_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/loikaw/loikaw_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
