<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Comment s'y rendre sans guide ?
          </h2>
          <p>
            Nous avons pris le <b>train jusqu’à Probolinggo</b> depuis <nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link>. Une fois sortis du train, on nous propose d’aller jusqu’à <b>Cemoro</b> pour 50 000 IDR par personne si la voiture est pleine.
            C’est un bon prix sachant que le bus public est à 40 000 IDR minimum (dans le meilleur des cas), bien plus lent et avec des horaires prévisibles.
          </p>
          <p>
            Une fois arrivés à Cemero, nous dormons à la <b>deddy homestay</b> réservée au préalable.
            Cela nous permet de dormir un peu avant un réveil à 2h20 du matin mais aussi de se doucher une fois le mont bromo gravis (10h du matin) 🙂.
          </p>
          <p>
            Le départ se fait à à 2h50 de l’homestay en direction du point de vue à pied.
            Les locaux nous montrent le chemin de départ puis nous nous aidons de l'application <a href="http://maps.me/">Maps Me</a>. Durant la montée, nous croisons des chevaux et quelques Jeep au passage. Heureusement, La plus grande majorité des véhicules passent par l’autre flan de la montagne.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403248/article/mont-bromo/mont-bromo_maps_me.jpg" alt="Trajet Maps Me Cemero - Sunrise viewpoint (A) - Mont Bromo" description='Cemero - Sunrise viewpoint (A) - Mont Bromo' />
          <p>
            Une fois arrivés au point de vue, il suffit de s'asseoir et d'attendre 😄. <b>Pas besoin d’aller au plus haut point de vue</b>, qui est le plus bondé de touristes (ceux qui circulent en Jeep).
          </p>
        </section>
        <section>
          <h2>Le lever du soleil</h2>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403248/article/mont-bromo/mont-bromo_lever_soleil.jpg" alt="lever du soleil en face du mont bromo" description='Le lever de soleil flamboyant' />
          <p>
            Après une petite attente du soleil, la vue incroyable du mont Bromo commence à se dessiner, <b>inoubliable</b> 🤩 Il n'y a pas trop de monde et nous sommes bien placés (au bord du 'vide'), c'est parfait. Une fois le lever du soleil admiré (avant 7h), nous partons d’un pied ferme pour traverser la mer de sable.
          </p>
        </section>
        <section>
          <h2>Direction le Mont Bromo !</h2>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403267/article/mont-bromo/mont-bromo_mer_sable.jpg" alt="La mer de sable menant au mont bromo" description='Début de la marche dans la mer de sable' />
          <p>
            Encore une fois, <b>un somptueux paysage</b> se dresse devant nous.
            Après une petite marche, nous arrivons au mont bromo. Un fois l'escalier monté, nous voici au cratère grondant. De la fumée s’y échappe, un bruit de cascade dans le gouffre, c’est vraiment <b>impressionnant</b> !
            Nous faisons un bout du tour du cratère puis partons vers 9h20 afin de prendre le bus en direction de <nuxt-link tag='a' :to="{ path: 'ijen' }">Kawah Ijen</nuxt-link>. Le retour à pied se fait facilement à l’oeil ou avec <a href="http://maps.me/">Maps Me</a>.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403245/article/mont-bromo/mont-bromo_cratere.jpg" alt="Mes pieds aux bords du cratère fumant" description='Aux bords du cratère, vue impressionnante !' />
        </section>
        <section>
          <h2>Notre ressenti</h2>
          <p><b>Un des plus beaux souvenirs d'Indonésie</b>, nous vous le conseillons fortement 😃.</p>
          <p>
            <b>Point négatif de Bromo</b> :
            S’il vous plaît, ne prenez pas de jeep, scooter ou chevaux (maltraités) pour vous y rendre !! Cela détruit le silence et le paysage !
            C’est à cause des touristes qui acceptent ces transports que le site est dénaturé.
          </p>
        </section>
        <section>
          <h2>Petit bonus</h2>
          <p>Nous avons demandé à 'Jean-Michel Drône' si il était possible de nous envoyer la vidéo une fois montée. A vous de juger 😉: <a href="https://www.skypixel.com/videos/to-the-end-of-the-world" target="_blank" rel="no-follow noopener">https://www.skypixel.com/videos/to-the-end-of-the-world</a></p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Mont Bromo'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Bromo',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Le paysage lunaire du mont Bromo',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Le mont Bromo est un lieu incontournable sur l'île de Java. Dans cet article, je vous explique comment faire son propre itinéraire pour profiter un maximum.`
    const src = 'articles/mont-bromo'
    const url = 'pays/indonesie/articles/mont-bromo'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Lever de soleil devant le mont bromo echappant beaucoup de fumées` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'bromo volcan lever soleil java indonesie',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/mont-bromo/mont-bromo_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-bromo/mont-bromo_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-bromo/mont-bromo_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-bromo/mont-bromo_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-bromo/mont-bromo_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-bromo/mont-bromo_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-bromo/mont-bromo_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/mont-bromo/mont-bromo_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-bromo/mont-bromo_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-bromo/mont-bromo_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-bromo/mont-bromo_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-bromo/mont-bromo_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-bromo/mont-bromo_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-bromo/mont-bromo_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/mont-bromo/mont-bromo_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-bromo/mont-bromo_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-bromo/mont-bromo_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-bromo/mont-bromo_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-bromo/mont-bromo_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-bromo/mont-bromo_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-bromo/mont-bromo_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
