<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            L'ascension
          </h2>
          <p>
            Pour s'y rendre, il y a plusieurs possibilités. Soit vous demandez à l'homestay l'aller-retour pour 80 000 IDR/pers, soit vous faîtes du 'stop' au bord de la route et proposez 10 000 IDR à la personne qui s'arrête en première mais vous ne savez pas combien de temps vous allez attendre 🙃.
          </p>
          <p>
            Les avis de cette randonnée sur internet sont assez catégoriques sur le fait qu'elle est réservée pour les sportifs. Bob (n’étant pas sportive…) a tout  de même <b>a-do-ré </b>! Bien que le dénivelé est présent, ce n’est pas aussi compliqué qu’annoncé !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_foret.jpg" alt="Début de randonnée en forêt" description="Début de randonnée en forêt" />
          <p>
            Pendant l'ascension, nous rencontrons seulement un randonneur. Les paysages sont changeants, rendant la randonnée vraiment très attractive !
            Le fait d'être seuls nous fait profiter encore plus du paysage et de son silence imposant.
            Après <b>800 mètres de dénivelés</b> et 2h30 de montée, nous atteignons le sommet du volcan à 1 706m d’altitude 💪.
          </p>
        </section>
        <section>
          <h2>
            Le mont Egon
          </h2>
          <p>
            Une fois en haut, nous entendons enfin le grondement du cratère fumant.
            Entre le cratère, le panomora de l'île et la vue sur la mer, nous sommes gâtés 😍 !
            La végétation du sol et sa composition nous transporte dans un paysage semblant venir d'une autre planète.
            Nous commençons à faire le tour du cratère, l'odeur de souffre est bien présente 🙂.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_cratere.jpg" alt="Le début du cratère très sec et rocailleux et la petite fumée qui s'y échappe " description="Cratère du volcan et la fumée qui s'y échappe" />
          <p>
            Nous entamons la descente d'1h45 qui, finalement, est le moment le plus périeux du parcours. Les débris de roches volcaniques sont glissants et les pierres sont saillantes.
            Nous vous conseillons d'avoir des <b>gants</b> pour éviter de vous écorcher les mains car c'est sûr que vous allez glisser une ou deux fois avant l'arrivée 😁 !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_descente.jpg" alt="Pesto qui commence la descente avec des gants" description="Descente avec des gants" />
        </section>
        <section>
          <h2>
            Le logement à Maumere 
          </h2>
          <p>
            Nous avons séjourné 3 nuits à l’homestay Sante Sante Beach mais notre expérience n'a pas été incroyable 😬. La propiétaire des lieux était en vacances, nous avons donc été accueillis par les locaux qui, malheureusement, ne parlent pas un mot d'anglais.
            Demander des renseignements voire commander à manger était complexe 😄.
            Maumere est assez reculé et la propreté n'est pas comparable avec la prestation à <nuxt-link tag='a' :to="{ path: 'ubud' }">Ubud</nuxt-link>, c'est rudimentaire surtout si vous êtes arachnophobe 😉.
            Pour tous les renseignements, nous avons été obligés de demander à l'homestay d'à côté, le <b>Lena House</b>. Par contre à la cuisine, c'était un vrai régal 🤤
          </p>
        </section>
        <section>
          <h2>
            Comment rejoindre l'homestay depuis l'aéroport de Maumere
          </h2>
          <p>
            Arrivés à l’aéroport, nous prenons un taxi pour 20 000 IDR/pers en direction de la station de bus. Nous remarquons directement qu'il est nécessaire de marchander car le prix de base du taxi était de 150 000 IDR 🤯.
            Une fois à la station, nous embarquons dans le <b>bus local</b> en direction notre homestay !
          </p>
          <p>
            Au fur et à mesure du trajet, le bus commence à s’entasser au point de voir des locaux s’accrocher au bus en marche, tout en étant dehors ou sur le toit !
            Le trajet en bus nous est revenu à 25 000 IDR /pers au lieu de 70 000 (premier prix annoncé).
            Et nous voilà arrivé à l'homestay 🙃. 
            Il faut savoir que cette manière de voyager nous rapproche plus des locaux mais, en contrepartie, met plus de temps par rapport à un taxi qui vous emmène directement à l'homestay. 
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_transport_maumere.jpg" alt="Un homme qui s'accroche à la porte à l'extérieur du bus pendant qu'il roule" description="Façon originale de prendre le bus !" />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Mont Egon'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)


export default {
  name: 'MontEgon',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Le mont Egon et ses paysages volcaniques',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Ce volcan qui, de part sa basse fréquentation, est d'un calme et d'une beauté à couper le souffle !
           Un peu physique, mais ça vaut le coup à l'arrivée.`
    const src = 'articles/mont-egon'
    const url = 'pays/indonesie/articles/mont-egon'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Pesto appuyé sur un rocher contemplant l'océan visible depuis le sommet du mont Egon` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'Egon volcan randonnee flores indonesie',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: 50% 10%;
  }

  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/mont-egon/mont-egon_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-egon/mont-egon_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-egon/mont-egon_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-egon/mont-egon_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-egon/mont-egon_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/mont-egon/mont-egon_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-egon/mont-egon_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-egon/mont-egon_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-egon/mont-egon_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-egon/mont-egon_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/mont-egon/mont-egon_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-egon/mont-egon_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-egon/mont-egon_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/mont-egon/mont-egon_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/mont-egon/mont-egon_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/mont-egon/mont-egon_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
