<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Munduk, son charme et ses cascades
          </h2>
          <p>
            Munduk est l'étape la moins touristique de Bali qu'on ait fait, c'est sûrement ce qui en fait son charme !
            En s'aventurant à pied dans les alentours, on peut découvrir un groupement de cascades: <b>Air Terjun Munduk, Air Terjun Melanting, Air Terjun Labuhan Kebo</b>, etc.
            L'entrée pour chaque cascade coûte environ 20 000 IDR. L'intêret d'avoir rendu payant l'accès aux cascades serait la rénovation des escaliers et une aide pour les locaux.
            Sur le trajet, on peut admirer différentes cultures comme des clous de girofles, du café ou encore du cacao.
          </p>
          <p>
            C'est une jolie sortie à faire en une après midi. Les locaux sont très accueillants et nous rencontrons peu de touristes.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403348/article/munduk/munduk_waterfall.jpg" alt="Cascade aux alentours de munduk" description="Cascade aux alentours de munduk" />
        </section>
        <section>
          <h2>
            Pura Ulun Danu
          </h2>
          <p>
            Notre deuxième sortie est une ecapade d'une journée en scooter. Nous contournons le lac <b>Tamblinga</b> et <b>Buyan</b>, puis nous nous arrêtons au temple <b>Ulun Danu</b> qui se trouve sur le lac <b>Beratan</b>.
            C'est un magnifique temple au bord de l'eau, un des plus atypiques de Bali 😊.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403303/article/munduk/munduk_pura_ulun_danu.jpg" alt="Photo du temple pura ulun danu au bord de l'eau" description="Pura Ulun Danu" />
        </section>
        <section>
          <h2>
            Les rizières des Jatiluwih
          </h2>
          <p>
            Ensuite, nous continuons vers les rizières de Jatiluwih. Nous posons le scooter pour y faire une balade à pied. C'est un beau paysage verdoyant, plus authentique que les rizières vers Ubud. Un <b>incontournable</b> si vous passez par la région de munduk 🙂.
            Nous finissons la route par le temple <b>Batukaru</b> où la tranquillité et les rizières règnent en maître. Sur le retour, nous avons même eu la chance de croiser des singes sur la route 😁.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403399/article/munduk/munduk_jatiluwih_rice_field.jpg" alt="Photo d'une rizière se trouvant à jatiluwih" description="Une rizière de Jatiluwih parmi tant d'autres" />
        </section>
        <section>
          <h2>
            Notre ressenti
          </h2>
          <p>
            Munduk est l'étape la plus tranquille et la moins touristique de Bali que nous ayons faîte. Un pur régal de partir explorer les alentours en scooter !
            Si vous faîtes Munduk-Ubud, demandez au chauffeur qu’il s’arrête à une plantation de café 🙂
            Vous découvrirez différents cafés et il vous sera proposé une dégustation.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403402/article/munduk/munduk_cloves.jpg" alt="Photo de clous de girofle séchant au soleil" description='Clous de girofle séchant sur le trottoir' />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Munduk'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Munduk',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Munduk: Cascades, Rizières et Nature',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Comme nous aimons la randonnée, la culture et le calme, Munduk a été une des meilleures destinations sur l'île de Bali !
           Son emplacement stratégique permet de visiter moult spots 😉.`
    const src = 'articles/munduk'
    const url = 'pays/indonesie/articles/munduk'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Le temple Pura Ulun Danu au bord du lac` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'munduk ulun danu bali cascades indonesie',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/munduk/munduk_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/munduk/munduk_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/munduk/munduk_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/munduk/munduk_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/munduk/munduk_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/munduk/munduk_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/munduk/munduk_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/munduk/munduk_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/munduk/munduk_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/munduk/munduk_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/munduk/munduk_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/munduk/munduk_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/munduk/munduk_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/munduk/munduk_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/munduk/munduk_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/munduk/munduk_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/munduk/munduk_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/munduk/munduk_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/munduk/munduk_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/munduk/munduk_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/munduk/munduk_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
