<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Goa Giri Putri
          </h2>
          <p>
            Goa Giri Putri est un temple dans une grotte situé au nord de l'île. Après un escalier à gravir, nous arrivons à l'entrée de la grotte, un prêtre nous jette littéralement de l'eau sur la tête pour nous purifier avant d'entrer dans le temple.
            Ensuite il nous propose de faire une donation, nous avons donné 20 000 IDR car c'est souvent le prix d'entrée d'un temple (comptez en plus la location du saroong). Après ça, le prêtre nous demande de le suivre dans un terrier de lapin !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403531/article/nusa-penida/nusa-penida_goa_giri_putri.jpg" alt="L'entrée de la grotte (un tout petit trou)" description="L'entrée insolite de Goa Giri Putri" />
          <p>
            Nous tombons dans une grotte qui abrite un petit temple. Sans être spectaculaire, l'endroit est tellement <b>insolite</b> qu'on se croirait hors du temps 😶.
          </p>
        </section>
        <section>
          <h2>Saren Cliff</h2>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403472/article/nusa-penida/nusa-penida_saren_cliff_sign.jpg" alt="Ecriteau avec inscrit dessus 'Yeah now you're here at Saren Cliff!'" description="L'arrivée à Saren Cliff" />
          <p>
            C'est un endroit un peu perdu pour <b>une vue magnifique</b> !
            Son charme reste sans doute <b>la tranquillité</b>, c'est bien pour cela que nous adorons les points de vue peu connu 😁.
            Un petit bémol est que pour y aller, la route vers la fin n'est vraiment pas facile en scooter (pendant 2km).
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403521/article/nusa-penida/nusa-penida_saren_cliff_view.jpg" alt="Point de vue sur la falaise" />
        </section>
        <section>
          <h2>
            Kelingking view
          </h2>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403535/article/nusa-penida/nusa-penida_kelingking_view.jpg" alt="Point de vue sur Kelingking Beach" description='Magnifique point de vue sur Kelingking Beach' />
          <p>
            Ce lieu est <b>notre coup de cœur de Nusa Penida</b>. Quelle vue magnifique ! 
            Nous décidons d'aller à la plage. Un 'escalier' nous attend, c'est assez physique (un peu d'escalade) mais la récompense est à l'arrivée 😍.
            Une fois sur la plage, il est compliqué de se baigner car les vagues sont violentes et le courant très fort.
          </p>
          <p>
            Au retour, nous nous reposons dans le warung à proximité avec un jus de mangue tout en admirant le coucher du soleil.
            Attention cependant, Kelingking est à 30 minutes de Topayakeh (le port) donc vous risquez de rentrer de nuit sur une route qui laisse à désirer.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403464/article/nusa-penida/nusa-penida_kelingking_beach.jpg" alt="Plage de Kelingking Beach" description="Vagues à Kelingking Beach" />
        </section>
        <section>
          <h2>Snorkeling Raie Manta</h2>
          <p>
            L’activité phare de Nusa Penida reste son spot de snorkeling pour les <b>raies manta</b>. Même les touristes de Nusa Lembongan viennent jusqu’à ce spot pour essayer de les admirer.
            Nous tentons donc notre chance un matin.
            Les organisateurs nous amènent directement au fameux spot de raies. Mais malheureusement pour nous, elles ne sont pas au rendez-vous 🥺. En guise de lot de consolation, ils nous conduisent au large de Crystal Bay pour admirer le récif et de nombreux petits poissons.
            Puis, un autre spot où l'on peut apercevoir des thons et des tortues.
            Bref, ne pas avoir vu les raies est une chose mais la matinée n’est pas perdue 😃
          </p>
        </section>
        <section>
          <h2>Broken Beach</h2>
          <p>
            Broken Beach est <b>un incontournable</b> de Nusa Penida, c'est une crique où la mer d'un bleu limpide s'engouffre à l'intérieur. C'est un lieu atypique qui vaut vraiment le détour !
            Il est également possible de continuer le chemin et de tomber sur Billabong Angels qui est une piscine creusée naturellement dans la roche par l'océan.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403560/article/nusa-penida/nusa-penida_broken_beach.jpg" alt="Point de vue su Broken Beach" description='Broken Beach' />
        </section>
        <section>
          <h2>Crystal Bay</h2>
          <p>
            Pour le couché de soleil, nous avons opté pour la plage de Crystal Bay ! C’était parfait 😁
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403481/article/nusa-penida/nusa-penida_crystal_bay_sunset.jpg" alt="Crystal Bay au coucher de soleil" description='Coucher de soleil sur Crystal Bay' />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Nusa Penida'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'NusaPenida',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'La sublime île de Nusa Penida',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
   }
  },
  head () {
    const description = `Nusa Penida est la plus sauvage des îles aux alentours de Bali.
           Il faudrait au moins 5 jours pour voir tous les spots et activités que peuvent offrir cette destination.`
    const src = 'articles/nusa-penida'
    const url = 'pays/indonesie/articles/nusa-penida'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Plage de Kelingking avec la serviette de Pesto flottant au vent comme un drapeau` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'nusa penida indonesie kelingking broken beach',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/nusa-penida/nusa-penida_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/nusa-penida/nusa-penida_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/nusa-penida/nusa-penida_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/nusa-penida/nusa-penida_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/nusa-penida/nusa-penida_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/nusa-penida/nusa-penida_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/nusa-penida/nusa-penida_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/nusa-penida/nusa-penida_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/nusa-penida/nusa-penida_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/nusa-penida/nusa-penida_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/nusa-penida/nusa-penida_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/nusa-penida/nusa-penida_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/nusa-penida/nusa-penida_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/nusa-penida/nusa-penida_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/nusa-penida/nusa-penida_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/nusa-penida/nusa-penida_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/nusa-penida/nusa-penida_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/nusa-penida/nusa-penida_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/nusa-penida/nusa-penida_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/nusa-penida/nusa-penida_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/nusa-penida/nusa-penida_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
