<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Comment arriver à Pangandaran depuis Jakarta ?
          </h2>
          <p>
            Pangandaran est un endroit génial et dépaysant. Par contre, il rajoute 16h de détour sur votre trajet Jakarta-<nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link>.
            Nous avons adoré cette destination 😍, mais si vous n'avez que 2 semaines devant vous pour faire l'Indonésie, cet itinéraire est sans doute trop long !
            Pour un trajet plus court, nous vous suggérons de rejoindre directement <nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link>, pour aller aux fameux temples <nuxt-link tag='a' :to="{ path: 'borobudur' }"> Borobudur</nuxt-link> et <nuxt-link tag='a' :to="{ path: 'prambanan' }"> Prambanan</nuxt-link> puis partir direction le <nuxt-link tag='a' :to="{ path: 'mont-bromo' }">mont Bromo</nuxt-link> sans perdre de temps 😉.
          </p>
          <p>
            Pour le parcours Jakarta-<nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link>, nous avons simplement réservé via <b>Rome2Rio</b>. Il s’est déroulé en 2 étapes: 
            <ul class="arrow-list-container">
              <li>Jakarta-Bandung en train</li>
              <li>Bandung-Pangandaran en ‘Bus’ (disons plutôt une voiture 7 places 😅) pour une durée d'au moins 7h... <b>40km/h de moyenne !</b></li>
            </ul>
          </p>
        </section>
        <section>
          <h2>
            Le logement à Pangandaran ?
          </h2>
          <p>
            Le choix de l'homestay est déterminant sur la qualité du séjour. Sans aucun regret, nous avons choisi <b>Mini Tiga Homestay</b> !
            C'est un endroit tranquille, tenu par des locaux et proche de la plage. Les Banana pancakes au petit-déjeuner sont superbes 😁.
          </p>
        </section>
        <section>
          <h2>
            Que faire à Pangandaran ?
          </h2>
          <p>
            <ul class="arrow-list-container">
              <li>
                <b>Green canyon/Green valley</b> : de la nature, de l'eau, du canyoning. Assez physique mais super !
              </li>
              <li>
                <b>Découverte du surf</b>, en prime un barbecue sur la plage avec poisson frais et légumes cuisinés de façon locale.
              </li>
              <li>
                Massage sur la plage et baignade
              </li>
              <li>
                Visiter les alentours en scooter pour aller voir l'épave du navire MV Lagos Viking par exemple
              </li>
              <li>
                Aller boire un verre le soir au bamboo café 🙂.
              </li>
            </ul>
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403588/article/Pangandaran/Pangandaran_barbecue.jpg" alt="Barbecue à la plage après le surf" description="Barbecue à la plage après le surf avec d'autres voyageurs" />
        </section>
        <section>
          <h2>
            Aller vers <nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link> (Jogja) ?
          </h2>
          <p>
            Le trajet peut se faire entièrement en bus. Il est sinon possible de récupérer le train un peu plus au nord en prenant le taxi. Bien sûr, ces options sont directement proposées par l'homestay.
            Nous optons pour un <b>trajet de nuit</b> afin d'économiser une nuit d'hôtel (même si la voiture est plus ou moins agréable pour dormir). Le chauffeur nous dépose à 3h du matin à <nuxt-link tag='a' :to="{ path: 'borobudur' }"> Borobudur</nuxt-link> pour assister au lever du soleil qui coûte <b>450 000 IDR</b>. Après la visite, le chauffeur nous conduit à l'hôtel que nous avions réservé à <nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link>.
            Le point positif est la nuit économisée mais le point négatif est le prix du lever du soleil ! Avec beaucoup trop de touristes. Nous ne sommes pas sûr que ça vaille le coup.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403608/article/Pangandaran/Pangandaran_indonesian_flag.jpg" alt="Le drapeau de l'indonésie flottant dans les airs" description="Le drapeau de l'indonésie flottant dans les airs" />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Pangandaran'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Pangandaran',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Le calme de Pangandaran',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
  }
  },
  head () {
    const description = `Pangandaran a été pour nous une des très belle surprise que peut offrir l'île de Java en terme de tranquillité et de dépaysement !
           Une belle étape dont on vous livre nos coups de cœurs.`
    const src = 'articles/pangandaran'
    const url = 'pays/indonesie/articles/pangandaran'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Vue depuis le ciel de la plage où un navire a chaviré` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'pangandaran soleil chill green valley',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/pangandaran/pangandaran_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pangandaran/pangandaran_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pangandaran/pangandaran_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pangandaran/pangandaran_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pangandaran/pangandaran_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pangandaran/pangandaran_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pangandaran/pangandaran_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/pangandaran/pangandaran_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pangandaran/pangandaran_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pangandaran/pangandaran_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pangandaran/pangandaran_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pangandaran/pangandaran_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pangandaran/pangandaran_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pangandaran/pangandaran_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/pangandaran/pangandaran_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pangandaran/pangandaran_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pangandaran/pangandaran_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pangandaran/pangandaran_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pangandaran/pangandaran_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pangandaran/pangandaran_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pangandaran/pangandaran_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
