<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Comment s'y rendre depuis Yogyakarta?
          </h2>
          <p>
            Il est possible d'aller en bus à Prambanan mais le réseau de bus n’est pas vraiment évident à comprendre 😬.
            Le plus simple est de prendre le bus <b>seulement depuis Prambanan pour le retour</b>. L’arrêt de bus est facilement identifiable (demandez votre chemin sinon) et il va à <nuxt-link tag='a' :to="{ path: 'yogyakarta' }">Yogyakarta</nuxt-link> pour vraiment pas chère (<b>20 centimes d'euros</b>) !
            Pour l'aller, nous avons pris un <b>Go-car</b> (application Go-jek).
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403669/article/prambanan/prambanan_statue.jpg" alt="Statue dans le site de Prambanan" description='' />
        </section>
        <section>
          <h2>
            Le site de Prambanan
          </h2>
          <p>
            Le temple est un très grand complexe ! Nous avons beaucoup aimé nous y balader. La première impression était qu'il y avait beaucoup de touristes ! Mais après le 'premier rideau' passé, tout va mieux 🙂
            La partie la plus séduisante est finalement <b>Sewu</b> de part son calme 😉. On peut facilement le trouver avec <a href="http://maps.me/">Maps Me</a>.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403706/article/prambanan/prambanan_temple.jpg" alt="temple Sewu" description='Une partie du temple Prambanan: Sewu' />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Prambanan'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Prambanan',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Prambanan, un vaste complexe de temples',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Prambanan est un des complexes de temple les plus connus de l'île de Java.
           Outre le panorama incroyable qu'offre ces temples, on peut y faire une balade sympathique`
    const src = 'articles/prambanan'
    const url = 'pays/indonesie/articles/prambanan'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Le temple de Prambanan composé de 6 batiments en forme de stupa` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'prambanan temple stupa yogyakarta',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/prambanan/prambanan_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/prambanan/prambanan_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/prambanan/prambanan_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/prambanan/prambanan_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/prambanan/prambanan_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/prambanan/prambanan_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/prambanan/prambanan_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/prambanan/prambanan_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/prambanan/prambanan_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/prambanan/prambanan_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/prambanan/prambanan_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/prambanan/prambanan_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/prambanan/prambanan_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/prambanan/prambanan_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/prambanan/prambanan_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/prambanan/prambanan_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/prambanan/prambanan_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/prambanan/prambanan_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/prambanan/prambanan_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/prambanan/prambanan_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/prambanan/prambanan_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
