<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            L’arrivée sur l’île
          </h2>
          <p>
            Nous rejoignons Banda Aceh depuis Kuala Lumpur (Malaisie) par les airs.
            À l’arrivée, les douaniers ont vérifié nos billets de continuation.
            Si vous n’en avez pas, nous vous conseillons <a href="https://bestonwardticket.com/" target="_blank" rel="no-follow noopener">ce site</a> qui vous permet de présenter un vrai billet d’avion à votre nom valable 24h. Testé et approuvé 👌.
            Si vous êtes déjà sur l’île de Sumatra, n’hésitez pas à prendre les bus ou même un taxi privé dans le cas où vous êtes plusieurs 🙂. 
          </p>
          <p>
            Une fois à Banda Aceh, nous prenons le bateau à destination de Pulau Weh.
            Pour cela, il faut rejoindre <a href="https://goo.gl/maps/Rjhurs9ZnZkEkdyt8" target="_blank" rel="no-follow noopener">le port</a> et prendre soit le ferry ‘rapide’ soit le ‘slow’.
            Vous trouverez les horaires sur le <a href="https://bubble-addict.com/fr/comment-se-rendre-a-pulau-weh/" target="_blank" rel="no-follow noopener">site de bubble addict</a>.
          </p>
          <p>
            Une fois arrivés à Pulau Weh, nous visons le nord-ouest de l’île et tout particulièrement <a href="https://goo.gl/maps/dPr969JaS6yvhmEY6" target="_blank" rel="no-follow noopener">Pantai Iboih</a>.
            Nous sortons du ferry et suivons directement les locaux dans des véhicules (astuce pour ne pas tomber dans un attrape touriste 😁).
            Ces véhicules partent du ferry et font le tour de l’île pour déposer les passagers aux différents endroits stratégiques.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1635884592/article/pulau-weh/pulau-weh_plage_iboih.jpg" alt="Vue plongeante de la plage Iboih" description="La plage d'Iboih vue depuis le restaurant 'Green house'" />
          <p>
            Après ce trajet, nous cherchons un logement pour une semaine et trouvons finalement une chambre climatisée avec salle de bain commune pour 100k IDR par jour.
            Nous séjournons à <a href="https://www.booking.com/hotel/id/pele-39-s-place.en.html?aid=7917926&no_rooms=1&group_adults=2" target="_blank" rel="no-follow noopener">Pele’s place</a> et louons un scooter pour la semaine pour nous déplacer sans problème sur l’île.   
          </p>
        </section>
        <section>
          <h2>
            Les atouts de l’île
          </h2>
          <p>
            Dès le premier soir, nous nous rendons compte de la beauté de l’île.
            Pendant notre premier repas sur la terrasse de notre homestay, nous avons la chance d’observer des petits requins inoffensifs à pointes noires mais aussi pleins de roussettes (chauves souris) le long des arbres ! C’était juste incroyable 😍😍 !
          </p>
          <p>
            Côté repas, nous mangeons souvent au <a href="https://goo.gl/maps/LzgG4zy7g6HQZFjU6" target="_blank" rel="no-follow noopener">OMG restaurant</a>.
            Il dégage une ambiance chill et le chef est vraiment accueillant !
            Le <a href="https://goo.gl/maps/pCQ8jAb8JHUyjudy6" target="_blank" rel="no-follow noopener">Green House Bungalow</a> est aussi un endroit très agréable pour siroter des milkshakes ou manger le soir sur la terrasse avec vue sur la mer.
            Le gérant est tellement gentil qu’il partage souvent la soirée avec ses hôtes 🥰.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1635884592/article/pulau-weh/pulau-weh_gado_gado.jpg" alt="Plat au restaurant, le gado gado" description="Gado Gado: Légumes, oeufs et sauce cacahuète 😋" />
          <p>
            L'île possède encore un autre atout, c'est bien sûr <b>ses plages</b> au sable fin, reposantes et bien préservées !
            Nous sommes allés sur différentes plages ayant chacune leur charme, aussi bien pour un lever qu’un coucher de soleil.
            D’ailleurs, nous avions souvent l’entièreté de la plage pour nous 😜.
            <br>
            Deux plages que nous avons retenues :
            <ul class="arrow-list-container">
              <li>Celle pour le coucher de soleil : <a href="https://goo.gl/maps/Tyst1dWtAsAHmEuF7" target="_blank" rel="no-follow noopener">la plage Lhong Angen</a></li>
              <li>Celle pour le lever de soleil : <a href="https://goo.gl/maps/agPEFRkyFE35YAnP7" target="_blank" rel="no-follow noopener">la plage de Gapang</a></li>
            </ul>
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1635884592/article/pulau-weh/pulau-weh_coucher_soleil.jpg" alt="coucher de soleil à la plage de Lhong Angen" description="Petit coucher de soleil à la plage de Lhong Angen" />
        </section>
        <section>
          <h2>
            Les activités
          </h2>
          <p>
            En <b>scooter</b>, nous parcourons les plages du nord-ouest à la recherche de <b>beaux spots de snorkeling</b> armés de nos palmes, masques et tubas.
            Comme l'île est bordée de magnifique coraux, ils sont facilement atteignables ! 
            Nous avons retenu ces endroits :
            <ul class="arrow-list-container">
              <li><a href="https://goo.gl/maps/asxL79SjydhJsjwJ9" target="_blank" rel="no-follow noopener">Long Beach</a></li>
              <li>Un spot non loin du <a href="https://goo.gl/maps/LzgG4zy7g6HQZFjU6" target="_blank" rel="no-follow noopener">OMG restaurant</a> : Voici <a href="https://goo.gl/maps/1vEpnx2Gfge9Md9D6" target="_blank" rel="no-follow noopener">l'endroit exact</a>.</li>
              <li><a href="https://goo.gl/maps/kFigR1VgaU4H5s9K8" target="_blank" rel="no-follow noopener">Un volcan sous l’eau</a> (visible ou non selon la lumière). Celui là n’est pas spécialement incroyable mais original 😄.</li>
            </ul>
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1635884592/article/pulau-weh/pulau-weh_long_beach_plage.jpg" alt="Plage de Long Beach" description="La plage 'Long Beach' et son spot de snorkeling" />
          <p>
            Après des sessions de snorkeling incroyables, nous réfléchissons sérieusement à faire de <b>la plongée</b>. Après comparaison des différents centres, nous franchissons le pas avec <a href="https://bubble-addict.com/fr/accueil/" target="_blank" rel="no-follow noopener">Bubble addict</a>.
            Pesto n’ayant jamais plongé, les formateurs ont su nous mettre en confiance directement.
            Nous commençons par un baptême de plongée ‘privé’ car par chance, nous sommes les deux seuls candidats 🤯.
            <br>
            <br>
            L’ambiance au sein du centre est chill et l’expérience inoubliable, à tel point que nous décidons de passer directement notre niveau 1 (open water) en trois jours. Faîtes attention si vous avez un avion à prendre, vous ne pouvez pas plonger 24h avant votre départ !
            Nous finissons notre niveau par une sortie en bateau direction le spot ‘Limbo’. Nous y découvrons des ‘lion fish’, ‘trigger fish’, ‘sea snake’, des raies à points bleus ou encore d’autres espèces magnifiques 😍.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1635884592/article/pulau-weh/pulau-weh_bapteme_plongee.jpg" alt="Nous deux dans l'eau qui faisons un coeur avec une main chacune jointes" description="Notre baptème de plongée 'VIP' 🥰" />
          <p>
            En plus de ces activités aquatiques, nous nous rendons au <a href="https://goo.gl/maps/7CwNPRc4ekTc3wYj6" target="_blank" rel="no-follow noopener">Kilomètre 0</a> (là où commence l'Indonésie).
            Ce n’est pas un endroit spectaculaire mais plutôt symbolique. Par contre, nous y observons une multitude de roussettes de très près là-bas 🙂.
          </p>
        </section>
        <section>
          <h2>
            Bilan et points à savoir
          </h2>
          <p>
            <ul class="arrow-list-container">
              <li>
                Notre séjour a été très reposant surement dû au fait que nous y sommes allés pendant le ramadan ! C’est un avantage pour le chill, la plongée et la négociation des prix. Seul bémol, plusieurs cafés étaient fermés et manger le midi était quelquefois une aventure compliquée durant cette période.
                Cerise sur le gâteau, le chant du muezzin de 19h à 21h qui nous fait penser à cette <a href="https://www.youtube.com/watch?v=ABUtjkqt8bI" target="_blank" rel="no-follow noopener">belle réplique d'OSS 117</a> 🤣.
              </li>
              <li>Un ATM (distributeur de billet) est présent à Iboih.</li>
              <li>L’accès à la mer est interdit du jeudi 18h au vendredi 14h pour laisser l’océan se reposer 🙃.</li>
              <li>L'application <a href="https://fr.maps.me/" target="_blank" rel="no-follow noopener">MapsMe</a> est super pratique et offre une carte bien plus complète que 'Google Maps' par exemple. On vous la recommande !</li>
              <li>
                Nous avons croisé beaucoup de singes partout autour de l’île qu’il faut éviter en scooter.
                Ils ne sont pas forcément très agressifs, mais ils sont curieux et voleurs donc faîtes attention !
              </li>
            </ul>
              <br>
              Pour conclure, nous avons adoré Pulau Weh ! C’était une très belle pause dans un petit cocon à l’ambiance chill ❤.
              Nous ne pouvons que vous conseiller cette destination si vous aimez l’authenticité, la nature, la faune sauvage, les belles plages, le snorkeling, la plongée et la nourriture indonésienne (cacahuètes power) 🥰.
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Pulau Weh'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)


export default {
  name: "Weh",
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Le petit coin de paradis : Pulau Weh',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
    }
  },
  head () {
    const description = `Pulau Weh est une île à l'extrémité de Sumatra. Et franchement, on a été conquis par son calme et sa biodiversité 😍`
    const src = 'articles/pulau-weh'
    const url = 'pays/indonesie/articles/pulau-weh'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Coucher de soleil à Pulau Weh devant l'océan calme avec des teintes jaunes et orangées` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'ile paisible snorkeling nature pmt plongée',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1635973181/article/pulau-weh/pulau-weh_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pulau-weh/pulau-weh_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pulau-weh/pulau-weh_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pulau-weh/pulau-weh_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pulau-weh/pulau-weh_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pulau-weh/pulau-weh_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pulau-weh/pulau-weh_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/pulau-weh/pulau-weh_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pulau-weh/pulau-weh_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pulau-weh/pulau-weh_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pulau-weh/pulau-weh_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pulau-weh/pulau-weh_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pulau-weh/pulau-weh_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pulau-weh/pulau-weh_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/pulau-weh/pulau-weh_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pulau-weh/pulau-weh_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pulau-weh/pulau-weh_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pulau-weh/pulau-weh_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/pulau-weh/pulau-weh_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/pulau-weh/pulau-weh_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/pulau-weh/pulau-weh_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
