<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Jimbaran et son marché aux poissons
          </h2>
          <p>
            Le plus intéressant à faire à Jimbaran est son <b>marché aux poissons</b> ! La particularité est que l'on peut acheter son poisson et se le faire griller son poisson à côté du marché 😍.
            Si vous êtes un peu perdu, le plus simple est d'observer les locaux 😉.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403731/article/sud-de-bali/sud-de-bali_fish_market.jpg" alt="Le marché aux poissons de Jimbaran" description='Le marché aux poissons de Jimbaran' />
        </section>
        <section>
          <h2>
            Uluwatu
          </h2>
          <p>
            Le temple Uluwatu est une belle étape dans le sud de Bali. On y croise des <b>singes</b> tout en admirant un beau panorama au bord d'une falaise 🙈.
          </p>
          <p>
            Ensuite, nous buvons un verre au <b>Single Fin bar</b> pour le coucher de soleil.
            La vue est top et nous pouvons admirer les derniers surfeurs encore à l'eau. 
          </p>
          <p>
            Le jour d'après, nous sommes allés contempler un coucher de soleil à <b>Balangan Beach</b> dans une ambiance bien différente. Du surf, du calme et beaucoup de photos de mariés 😄.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403739/article/sud-de-bali/sud-de-bali_balangan_beach.jpg" alt="Coucher de soleil à Balangan Beach" description='Coucher de soleil à Balangan Beach' />
        </section>
        <section>
          <h2>Canggu</h2>
          <p>
            Nous nous arrêtons à Canggu car Pesto a une grande envie d'essayer le surf. La location de planche était à 50 000 IDR pour 2h. Il n'a pas eu besoin de plus de temps de toute manière vu l'épuisement au bout d'1h 😄
          </p>
          <p>
            Nous passons aussi à Tanah Lot. C'est un temple renommé du sud de Bali mais ce n'est pas du tout notre temple préféré. Nous trouvons l'endroit surpeuplé et les magasins sont plus longs à visiter que le temple 😅!
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602403740/article/sud-de-bali/sud-de-bali_tanah_lot.jpg" alt="Vue sur le temple Tanah Lot" description='Vue du fameux temple Tanah Lot' />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Le sud de Bali'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'SouthBali',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'Le sud de Bali !',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
     }
  },
  head () {
    const description = `Le sud de Bali est l'endroit le plus touristique et occidentalisé de l'île.
           Cependant il y a quelques endroits qui ont retenu notre attention...`
    const src = 'articles/sud-de-bali'
    const url = 'pays/indonesie/articles/sud-de-bali'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Coucher de soleil aux lueurs jaunes orangés depuis la plage de Balangan` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'sud bali Uluwatu Jimbaran',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/sud-de-bali/sud-de-bali_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/sud-de-bali/sud-de-bali_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/sud-de-bali/sud-de-bali_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/sud-de-bali/sud-de-bali_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/sud-de-bali/sud-de-bali_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/sud-de-bali/sud-de-bali_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/sud-de-bali/sud-de-bali_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/sud-de-bali/sud-de-bali_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/sud-de-bali/sud-de-bali_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/sud-de-bali/sud-de-bali_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/sud-de-bali/sud-de-bali_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/sud-de-bali/sud-de-bali_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/sud-de-bali/sud-de-bali_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/sud-de-bali/sud-de-bali_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/sud-de-bali/sud-de-bali_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/sud-de-bali/sud-de-bali_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/sud-de-bali/sud-de-bali_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/sud-de-bali/sud-de-bali_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/sud-de-bali/sud-de-bali_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/sud-de-bali/sud-de-bali_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/sud-de-bali/sud-de-bali_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
