<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Les activités à Ubud
          </h2>
          <p>
            Dès notre arrivée, nous partons marcher dans le centre pour voir le temple <b>Saraswati</b> et le <b>Ubud Palace</b>. Il arrive souvent que des mariages aient lieu dans le Ubud Palace jusqu'à 18h. Il est donc parfois impossible d’y entrer avant 😬.
            De toute façon, nous trouvons que la visite est plus intéressante de nuit car les éclairages sont superbes !
          </p>  
          <p>
            Nous continuons notre route vers le <b>café Pomegranate</b>. C'est un endroit agréable et calme pour chiller et boire un café en plein milieu d'une rizière !
            Le trajet jusqu'au café nous permet de contempler un autre aspect d’Ubud: la nature 🙂.
            La crête de <b>Campuhan Ridge Walk</b> est aussi une jolie balade à faire, mais plus peuplée !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1618157028/article/ubud/ubud_cafe_pomegranate.jpg" alt="Petit verre vue sur rizière au café Pomegranate" description='Petit verre vue sur rizière au café Pomegranate' />
          <p>
            Le jour d'après, nous arrivons à la <b>monkey forest</b>... Elle est très connue d'Ubud et consiste à observer des singes en semi-liberté. Cette attraction reste, selon nous, très familiale. Nous pensons que rencontrer par hasard un singe, au bord de la route par exemple, est toujours plus magique.
            Un autre endroit abritant naturellement des singes est le temple <b>Uluwatu</b>. Mais il se situe plutôt dans le <nuxt-link tag='a' :to="{ path: 'sud-de-bali' }">sud de Bali</nuxt-link> 🙂
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404063/article/ubud/ubud_ubud_palace.jpg" alt="Ubud Palace de nuit avec les éclairages" description='Ubud Palace de nuit avec les éclairages' />
          <p>
            Étant de bons mangeurs, nous ne pouvions passer à coté des cours de cuisine balinaise 😋. L'indonésie regorge de spécialités culinaires délicieuses telles que le Gado-Gado (plat préféré de Pesto) ou encore le chicken satay (celui de Bob).
            Nous avons appris par le biais d'un cours comment cuisiner la <b>sauce cacahuète</b>, la sauce samba, le boom boom Bali, la Chicken soup ou encore le Chicken satay 😍
            <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404154/article/ubud/ubud_cooking_class.jpg" alt="Les ingrédients du cours de cuisine à Ubud" description="Les ingrédients du cours de cuisine à Ubud" />
          </p>
        </section>
        <section>
          <h2>
            Les alentours d'Ubud valent le coup !
          </h2>
          <p>
            Nous prenons une location de scooter d'une journée pour explorer les alentours d'Ubud. Nous commençons cette épopée par deux temples 'aquatiques'.
            <b>Gunung Kawi Sebatu</b> et <b>Tirta Empul Temple</b> possèdent des <b>bassins</b> pour se 'purifier'. Ces temples sont alors mis en valeur car les bassins s'intègrent parfaitement au décor !
            Vous pouvez prendre une serviette et de quoi vous baigner si vous le souhaitez, des cabines sont même à disposition.
          </p>
          <p>
            Nous sommes ensuite partis direction <b>Pura Taman Ayun</b>. C'est un joli ensemble de temples qui vaut le détour.
            Plus à l'écart des touristes, la meilleure manière de visiter ce grand complexe est de s'y perdre à l'intérieur. Son histoire et son architecture sont très interessantes 🙂
          </p>
          <p>
            Puis, nous continuons notre route vers <b>Goa Gajah</b>. C'est un temple bien connu qui, malheureusement, nous a moins captivé. C'est peut-être lié au fait que nous n'ayons pas pris de guide.
            Nous pensons que c'est nécesssaire pour bien comprendre tout l’intérêt de ce site 😉
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404103/article/ubud/ubud_pura_taman_ayun.jpg" alt="Dans l'enceinte de Pura Taman Ayun, on y compte 6 tours meru" description="Dans l'enceinte de Pura Taman Ayun, on y compte 6 tours meru" />
          <p>
            Nous sommes aussi allés à Tegalalang, les rizières en 'escaliers' les plus connues de Bali, elles sont magnifiques de certains point de vue, on a vraiment l'impression d'avoir en face de nous un escalier fait de verdure 😍.
            Même si on s'y sentirait presque à l'étroit en comparant avec les grandes étendues des rizières de Jatiluwih à <nuxt-link tag='a' :to="{ path: 'munduk' }">Munduk</nuxt-link> 😄.
          </p>
        </section>
        <section>
          <h2>
            Pura Lembuyang, Les portes du paradis
          </h2>
          <p>
            <b>Pura Lembuyang</b> est un très grand complexe de temples où il est très facile d'y passer au moins 3 heures.
            Cependant, les visiteurs ne vont rarement très loin dans la visite et s'arrête au point de vue le plus connu: les <b>'portes du paradis'</b>. Nous avons élu ce lieu, le temple 'instagram' en raison de ce point de vue 😆.
            La vue est magnifique et engendre une grande queue pour pouvoir faire LA photo réussie! Nous avons demandé a un couple combien de temps était-il a attendre dans la queue : 1h30 (et encore beaucoup de gens devant eux !) 🤯.
            Un photographe est placé au milieu de l'endroit pour pouvoir prendre une photo avec un effet particulier à l’aide d’un miroir. 
          </p>
          <SideBySideImages :images=images />
          <p>
            Bref, autant dire que nous n’avons pas voulu faire la queue ! Nous nous sommes mis à 3 mètres du photographe et avons pris une photo qui nous convient tout de même (sans l’effet miroir, mais ça nous est égal 😁).
            La visite est tout de même sympa !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1618157540/article/ubud/ubud_marlene_lembuyang.jpg" alt="Bob posant de manière instagramable devant les portes du paradis" description="Notre version sans attente (quelqu'un se cache devant la tête de Bob 😆)" />
        </section>
        <section>
          <h2>
            Pura Kehen, notre temple préféré de Bali
          </h2>
          <p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404018/article/ubud/ubud_pura_kehen_door.jpg" alt="La porte d'entrée de Pura Kehen, juste sublime" description="La porte d'entrée de Pura Kehen, juste sublime" />
            <b>Pura Kehen</b> est notre temple favori à Bali ! 
            Beaucoup d'aspects nous ont séduits. Nous retenons particulièrement la beauté des édifices mais aussi le fait que nous étions seuls dans les lieux, leur rendant un côté mystique 😍.
            Dans la plus grande tranquillité, nous avons pris notre temps pour flaner dans cet endroit. Nous vous le conseillons en espérant qu'il vous plaise tout autant 😊
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404006/article/ubud/ubud_pura_kehen_entrance.jpg" alt="L'entrée du temple, un bel escalier avec une ovation de statues !" description="L'entrée du temple, un bel escalier avec une ovation de statues !" />
          </p>
        </section>
        <section>
          <h2>
            Le logement, c'est important !
          </h2>
          <p>
            Ubud est un endroit proprice pour trouver un homestay au <b>rapport qualité/prix</b> défiant tout autre endroit.
            Il y a du choix et les options sont très variées: petit-déjeuner, piscine, cours de yoga, etc.
            Vous trouverez facilement votre bonheur sur <a href="https://www.booking.com" target="_blank" rel="no-follow noopener">Booking</a> ou <a href="https://www.agoda.com" target="_blank" rel="no-follow noopener">Agoda</a>. Attention, les places partent parfois trop vite ! 
            Pour notre part, nous étions au <b>Gerke House</b> 😁
            <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404113/article/ubud/ubud_swimming_pool.jpg" alt="Vue de la piscine de l'homestay" description="Difficile de résister à faire l'étoile de mer" />
          </p>
        </section>
        <section>
          <h2>
            Notre avis global
          </h2>
          <p>
            C’est une ville très intéressante d'un point de vue <b>géographique et culturel</b>.
            Une journée (au moins) à scooter est à prévoir car sur un rayon de 1h de route, il y a de très beaux temples à voir !
            Ubud fait un parfait point de chute pour découvrir la <b>culture balinaise</b>.
            Pour ce qui est des restaurants, nous gardons en tête le <b>Warung Pondok Madu</b> avec leur ribs à la sauce cacahuète ! Un délice 😋
          </p>
          <p>
            Ensuite, nous sommes allés direction <nuxt-link tag='a' :to="{ path: 'amed' }">Amed</nuxt-link>, n'hésitez pas à demander au chauffeur qu'il fasse un stop au temple <b>Tirta Gangga</b> !
            <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404066/article/ubud/ubud_offers.jpg" alt="Les offrandes dans la rue, difficile à éviter" description="Les offrandes dans la rue, difficile à éviter 😄" />
          </p>
          <p>
            NB: Pour la visite des temples, vous n'êtes <b>pas obligé d'acheter</b> un saroong (vêtement traditionnel). Beaucoup de personnes vont tenter de vous en vendre en vous précisant que c’est obligatoire. En effet, c'est obligatoire, mais à l’entrée du temple on nous en prête systématiquement 😉
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import SideBySideImages from '~/components/common/SideBySideImages.vue'
import '@/assets/article-style.scss'

const articleName = 'Ubud'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Ubud',
  components: {
    ImageWithDescription,
    SideBySideImages
  },
  data: function () {
    return {
      title: `Ubud, au centre de l'île de Bali`,
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
      images: [
        {
          src: "https://res.cloudinary.com/djchx0gtn/image/upload/v1618157871/article/ubud/ubud_instagram_lembuyang.jpg",
          alt: "Une photo instagram clichée devant les portes du paradis",
          description: "La photo tant souhaitée"
        },
        {
          src: "https://res.cloudinary.com/djchx0gtn/image/upload/v1618157873/article/ubud/ubud_instagram_queue_reality_lembuyang.jpg",
          alt: "La queue avant de pouvoir faire la photo clichée ",
          description: "La dure réalité du terrain (la queue derrière) 😄"
        }
      ]
    }
  },
  head () {
    const description = `Ubud est très bien situé pour découvrir le centre de l'île, un endroit stratégique pour découvrir la culture de l'île.
           Entre temples, cuisine, danse et rizières.`
    const src = 'articles/ubud'
    const url = 'pays/indonesie/articles/ubud'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Pesto se relaxant dans la piscine de l'hotel (il fait l'étoile)` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'ubud piscine cuisine temple riziere',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/ubud/ubud_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ubud/ubud_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ubud/ubud_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ubud/ubud_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ubud/ubud_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ubud/ubud_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ubud/ubud_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/ubud/ubud_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ubud/ubud_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ubud/ubud_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ubud/ubud_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ubud/ubud_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ubud/ubud_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ubud/ubud_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/ubud/ubud_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ubud/ubud_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ubud/ubud_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ubud/ubud_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/ubud/ubud_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/ubud/ubud_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/ubud/ubud_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
