<template>
  <main class='article article-layout'>
    <article>
      <header>
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            Où se loger et manger ?
          </h2>
          <p>
            Yangon est une de ces villes d’Asie qui peut faire peur de par sa densité mais qui intrigue en même temps.
            Elle est souvent la première étape des touristes avec son aéroport international.
            La différence de culture est <b>très marquante</b> et peut étonner pour un premier jour.
            Par exemple, les birmans mâchent du bétel et du coup, crachent d’une couleur rouge sur le sol !
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/yangon/yangon_crachat_rouge.jpg" alt="Le sol d'un trottoir à Yangoon qui a une coloration rouge dû aux multiples crachats." description="Le sol a une couleur rouge à force de 'recevoir' du bétel" />
          <p>
            Nous logeons au <a href="https://www.booking.com/hotel/mm/backpacker-hostel-yangon.en.html?aid=7917926&no_rooms=1&group_adults=2" target="_blank" rel="no-follow noopener">Backpacker Hostel</a> qui est assez proche du <b>quartier de Sule</b>. Même si l’emplacement est loin du temple Shwedagon, il est le véritable centre ville et permet de réellement nous immerger dans la vie quotidienne birmane. L’hostel est aussi une bonne adresse pour les voyageurs solitaires en recherche de dortoir. 
          </p>
          <p>
            En ce qui concerne les repas, notre coup de coeur est le restaurant <a href="https://goo.gl/maps/546dz8SiHjjQbb259" target="_blank" rel="no-follow noopener">999 Shan Noodles shop</a>. Nous avons réussi à tester tout le menu pendant notre séjour 😋
            Proche de l'hôtel, il y a aussi un très bon <a href="https://goo.gl/maps/vgzB77UQmBmEnPjJ6" target="_blank" rel="no-follow noopener">restaurant indien</a>.
            <br>
            Hormis ces conseils, nous vous invitons à vous perdre dans les rues et essayer les <b>nombreux street food</b>.
            C’est un très bon moyen de manger local et pas cher 😉
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/yangon/yangon_street_food.jpg" alt="Des birmans dans la soirée assis sur un tabour en train de manger et de regarder la TV ensemble" description="Street food super sympa où les birmans regardaient un match ensemble" />
        </section>
        <section>
          <h2>
            Les marchés
          </h2>
          <p>
            Le premier point fascinant en Birmanie est le commerce. Les marchés nous ont particulièrement intrigués.
            Pour vous donner un exemple, nous sommes allés voir <a href="https://goo.gl/maps/j3P6ivfo5Yt6ngH39" target="_blank" rel="no-follow noopener">un marché dans cette rue</a> et la logistique était assez surprenante !
            En fait, ce marché empiète complètement sur la route, donc dès qu’une voiture doit passer, les vendeurs se lèvent en laissant leurs paniers de légumes par terre.
            Le but est que la voiture <b>passe au-dessus des aliments</b> ! Démonstration en photo :
          </p>
          <SideBySideImages :images="images" />
          <p>
            En soirée, il y a aussi des marchés de nuit dont un petit très proche de l'hôtel qui <a href="https://goo.gl/maps/UMPZxzBMQmc2LSkt6" target="_blank" rel="no-follow noopener">longe le bord de l’eau</a>. Il y a du choix et les birmans sont toujours aussi accueillants à notre plus grand plaisir.
            <br>
            Pour finir, nous faisons un tour au <a href="https://goo.gl/maps/QVSVvtPEE5qtar5F9" target="_blank" rel="no-follow noopener">Bogyoke Aung San Market</a> qui est un très gros marché ! Il y a même des pierres comme le Jade qui est très prisé en Birmanie.
            Par contre, au niveau de la traçabilité et du respect des travailleurs dans les mines, on peut avoir des doutes.
            En tout cas, selon nous, les marchés sont toujours des endroits animés qui permettent de <b>s’imprégner de la culture</b> 🙂
          </p>
        </section>
        <section>
          <h2>
            Les balades et les temples
          </h2>
          <p>
            Des temples, des temples, des temples… Entre ça et les bouddhas couchés, assis, debout, etc., vous allez en voir pendant tout votre séjour en Birmanie 😄.
            <br>
            Un des plus grands complexes présent en Birmanie est le <a href="https://goo.gl/maps/Hk5a4eMDiRYgKFz37" target="_blank" rel="no-follow noopener">Shwedagon pagoda</a> à Yangon.
            C’est <b>l’incontournable de la ville</b>. Faîtes attention, en vous approchant du temple, des birmans vont essayer de vous vendre un saroong (jupe traditionnelle).
            Il est indispensable pour la visite du temple, mais il y en a toujours à disposition gratuitement à l’entrée du temple. Ces vendeurs à la sauvette vont beaucoup insister pour vous le vendre en disant que c’est obligatoire, bon courage pour tenir tête 😅.
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/yangon/yangon_temple.jpg" alt="La plus grande stupa du complexe de Shwedagon" />
          <p>
            Proche de notre hébergement, nous visitons aussi le temple Paya botataung. Nous avons aimé le fait qu'il soit moins prisé des touristes et donc plus authentique. Mais la structure reste moins impressionnante que la Shwedagon pagoda. Attention, la visite n’est pas gratuite. 
          </p>
        </section>
        <section>
          <h2>
            Notre ressenti
          </h2>
          <p>
            La ville de Yangon est <b>un concentré de la culture birmane</b>, elle est parfaite pour apercevoir ce qui nous attend pendant le voyage. Par exemple, c’est un très bon endroit pour s'entraîner à traverser la route, car ça demande un certain lâcher prise : on est obligé de s’engager pour arrêter les voitures 😄
          </p>
          <p>
            Ses marchés, ses habitants et ses streets food sont vraiment les atouts qu’on a retenu. Cette ville est très animée et remplie de singularité dû à la différence de culture. On a été contents d’en partir pour retrouver du calme mais on en garde vraiment un très bon souvenir.
          </p>
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListMyanmar from '~/constants/articlesListMyanmar'
import ImageWithDescription from '../../../../../components/common/ImageWithDescription.vue'
import SideBySideImages from '~/components/common/SideBySideImages.vue'
import '@/assets/article-style.scss'

const articleName = 'Yangon'
const articleDetails = articlesListMyanmar.find(article => article.name === articleName)

export default {
  name: articleName,
  components: {
    ImageWithDescription,
    SideBySideImages
  },
  data: function () {
    return {
      title: 'Yangon, la culture birmane en condensé',
      previousArticle: articlesListMyanmar.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListMyanmar.find(article => article.name === articleDetails.nextArticle),
      images: [
        {
          src: "https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/yangon/yangon_marche.jpg",
          alt: "Le marché dans une rue étroite de Yangon",
          description: "Avant que la voiture passe"
        },
        {
          src: "https://res.cloudinary.com/djchx0gtn/image/upload/v1642946834/article/yangon/yangon_marche_voiture.jpg",
          alt: "Tout le monde se pousse pour laisser passer la voiture mais elle passe sur les légumes du marché",
          description: "RIP les légumes 😬"
        }
      ]
    }
  },
  head () {
    const description = articleDetails.description
    const src = 'articles/yangon'
    const url = 'pays/myanmar/articles/yangon'
    const publishedTime = "2022-07-20T13:30:00+00:00"
    const modifiedTime = "2022-07-20T13:30:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Vue des immeubles de Yangon la nuit avec des voitures qui traversent devant` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'yangon culture birmanie ville',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    background-position: bottom;
  }
  
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/yangon/yangon_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yangon/yangon_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yangon/yangon_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yangon/yangon_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yangon/yangon_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yangon/yangon_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yangon/yangon_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/yangon/yangon_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yangon/yangon_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yangon/yangon_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yangon/yangon_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yangon/yangon_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yangon/yangon_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yangon/yangon_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/yangon/yangon_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yangon/yangon_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yangon/yangon_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yangon/yangon_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yangon/yangon_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yangon/yangon_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yangon/yangon_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
