<template>
  <main class='article article-layout'>
    <article>
      <header v-if="isMounted">
        <h1>{{title}}</h1>
      </header>
      <div class='article-body'>
        <section>
          <h2>
            La ville et ses attractions
          </h2>
          <p>
            C'est une ville très culturelle avec beaucoup de street-art, qui offre plein de <b>street food succulents</b> !
            L'attraction numéro 1 est le 'Water castle'. Cependant, il ferme très tôt à 15h. Cette ville sert de dortoir pour visiter <nuxt-link tag='a' :to="{ path: 'prambanan' }">Prambanan</nuxt-link> et <nuxt-link tag='a' :to="{ path: 'borobudur' }">Borobudur</nuxt-link>.
            Pour enrichir l'expérience, nous sommes logés en <a href="https://www.couchsurfing.com/">Couchsurfing</a> ! Grâce à ça, nous découvrons réellement la culture et la vie indonésienne, nous vous le recommandons 🙂.
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404155/article/yogyakarta/yogyakarta_street_food.jpg" alt="Locaux qui mangent sur le trottoir dans la rue" description='Street food classique à Jogja' />
          </p>
        </section>
        <section>
          <h2>
            Les arnaques habituelles à Jogja
          </h2>
          <p>
            En arrivant à l’office de tourisme, avant de renseigner ce que l'on peut faire dans la ville, les employés mettent en garde sur le fait que beaucoup de gens essayeront de vous arnaquer.
            D'après eux, les malfaiteurs vous emmèneront voir une galerie d’art puis vous diront qu’il y a un carnaval le soir. Durant tout le processus, ils tenteront de vous soutirer de l'argent.
            En effet, dans la rue nous sommes considérés comme des ‘walking wallets’, autrement dit des <b>portefeuilles ambulants</b>.
          </p>
        </section>
        <section>
          <h2>
            Notre ressenti
          </h2>
          <p>
            Pour nous, Jogja reste une ville 'dortoir' mais elle nous a étonné de part son street art, ses street food et son ambiance moderne. Elle se situe à un emplacement stratégique, pas très loin de destinations incroyables comme par exemple le <nuxt-link tag='a' :to="{ path: 'mont-bromo' }">mont Bromo</nuxt-link>.
            Le plus marquant dans notre séjour ici reste notre expérience <a href="https://www.couchsurfing.com/">Couchsurfing</a>. Nous avons pu goûter à un café avec un charbon à l'intérieur (encore allumé) 😵!
          </p>
          <ImageWithDescription src="https://res.cloudinary.com/djchx0gtn/image/upload/v1602404143/article/yogyakarta/yogyakarta_cafe.jpg" alt="Café avec un charbon rougeoyant à l'intérieur" description="Le café le plus bizarre que nous ayons bu !" />
        </section>
      </div>
      <div class="article-footer">
        <div class="previous-article" v-if="previousArticle"><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow previous"><nuxt-link tag='a' :to="{ path: previousArticle.componentName }"><span>Précédent : </span><span>{{previousArticle.name}}</span></nuxt-link></div>
        <div class="next-article" v-if="nextArticle"><nuxt-link tag='a' :to="{ path: nextArticle.componentName }"><span>Suivant : </span><span>{{nextArticle.name}}</span></nuxt-link><img src="https://res.cloudinary.com/djchx0gtn/image/upload/v1612714588/arrow_straight_oph3hq.svg" width="35" height="35" alt="arrow next"></div>
      </div>
    </article>
  </main>
</template>

<script>
import articlesListIndonesia from '~/constants/articlesListIndonesia'
import ImageWithDescription from './../../../../../components/common/ImageWithDescription.vue'
import '@/assets/article-style.scss'

const articleName = 'Yogyakarta'
const articleDetails = articlesListIndonesia.find(article => article.name === articleName)

export default {
  name: 'Yogyakarta',
  components: {
    ImageWithDescription
  },
  data: function () {
    return {
      title: 'La ville de Yogyakarta (Jogja)',
      previousArticle: articlesListIndonesia.find(article => article.name === articleDetails.previousArticle),
      nextArticle: articlesListIndonesia.find(article => article.name === articleDetails.nextArticle),
      isMounted:false,
    }
  },
  mounted: function () {
    this.isMounted = true
  },
  head () {
    const description = `Yogyakarta est surtout un lieu d'hébergement pour pouvoir faire Borobudur ou encore Prambanan.
           C'est une ville où les arnaques contre les touristes sont régulières.`
    const src = 'articles/yogyakarta'
    const url = 'pays/indonesie/articles/yogyakarta'
    const publishedTime= "2020-06-17T10:00:00+00:00"
    const modifiedTime= "2022-01-10T12:00:00+00:00"
    return {
      title: `${this.title} | Bob & Pesto`,
      meta: this.$addMetaData(
        {
          description,
          image: { src, alt: `Décoration architecturale avec 'Yogya' écrit en rouge et jaune` },
          modifiedTime,
          publishedTime,
          title: `${this.title} | Bob & Pesto`,
          type: 'article',
          url,
        }
      ),
      script: this.$addStructuredData({
        description,
        keywords: 'ville borobudur street food',
        dateModified: modifiedTime,
        datePublished: publishedTime,
        src,
        title: this.title,
        url,
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  // Large screen
  @media (min-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/yogyakarta/yogyakarta_background-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yogyakarta/yogyakarta_background.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yogyakarta/yogyakarta_background-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yogyakarta/yogyakarta_background_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yogyakarta/yogyakarta_background_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yogyakarta/yogyakarta_background.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yogyakarta/yogyakarta_background-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Medium screen
  @media (min-width: 500px) and (max-width: 1500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/yogyakarta/yogyakarta_background_medium-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yogyakarta/yogyakarta_background_medium.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yogyakarta/yogyakarta_background_medium-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yogyakarta/yogyakarta_background_medium_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yogyakarta/yogyakarta_background_medium_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yogyakarta/yogyakarta_background_medium.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yogyakarta/yogyakarta_background_medium-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }

  // Small screen
  @media (max-width: 500px) {
    header {
      background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403209/article/yogyakarta/yogyakarta_background_small-2x.jpg');
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yogyakarta/yogyakarta_background_small.jpg'),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yogyakarta/yogyakarta_background_small-2x.jpg') 2x,
      );
      background-image: image-set(
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yogyakarta/yogyakarta_background_small_avif.avif') type("image/avif"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403721/article/yogyakarta/yogyakarta_background_small_avif-2x.avif') type("image/avif") 2x,
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403671/article/yogyakarta/yogyakarta_background_small.jpg') type("image/jpeg"),
        url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403278/article/yogyakarta/yogyakarta_background_small-2x.jpg') type("image/jpeg") 2x,
      );
    }
  }
</style>
