<template>
  <div class='coutry-articles-container'>
    <h1 v-if="articles.length === 0" class='no-article'> Pas encore d'articles :)</h1>
    <h1 v-else class='country-title'> {{this.countryName}}</h1>
    <div class="coutry-articles-card-container" v-if="articles.length !== 0">
      <div class='empty-div-with-path' v-if="articles.length > 3">
        <div class='first-path-between-columns'>
          <div :class="'to-right ' + getRandomIconClass()"></div>
        </div>
      </div>
      <template v-for="(article, index) in articles">
        <nuxt-link tag='div' :to="{path: '/pays/' + $route.params.countryName + '/articles/' + article.componentName}" :key='index' :class="{'last': index && index === articles.length -1}">
          <div class='card'>
            <picture class='article-image'>
              <source :srcset="`${getUrl(article.componentName).replace('.jpg','_small_avif.avif')}, ${getUrl(article.componentName).replace('.jpg','_small_avif-2x.avif')} 2x`" media="(max-width:1200px)" type="image/avif" />
              <source :srcset="`${getUrl(article.componentName).replace('.jpg','_small.jpg')}, ${getUrl(article.componentName).replace('.jpg','_small-2x.jpg')} 2x`" media="(max-width:1200px)" type="image/jpg" />
              <source :srcset="`${getUrl(article.componentName).replace('.jpg','_medium.jpg')}, ${getUrl(article.componentName).replace('.jpg','_medium-2x.jpg')} 2x`" media="(max-width:1500px)" type="image/jpg" />
              <source :srcset="`${getUrl(article.componentName)}, ${getUrl(article.componentName).replace('.jpg','-2x.jpg')} 2x`" media="(min-width:1500px)" type="image/jpg" />
              <img class='image' :src='getUrl(article.componentName)' :alt="'photo de couverture ' + article.name"  width="310" height="160"  loading="lazy" decoding="async">
            </picture>
            <div class='card-title-container'>
                <h3 class="card-title">{{article.name}}</h3>
            </div>
          </div>
        </nuxt-link>
        <div :class="{'empty-div-with-path': true, 'last': index === articles.length -1}" :key="'emptyDivWithPath' + index">
          <div class='first-path-between-columns' v-if="index !== articles.length -1 && (!!(index % 2) || (articles.length - index) > 2)">
            <div :class="{'to-right': !!(index % 2), 'to-left': !(index % 2), [getRandomIconClass()]: true}"></div>
          </div>
          <div  class='second-path-between-columns'>
            <div :class="{'to-right': !(index % 2), 'to-left': !!(index % 2), [getRandomIconClass()]: true}"></div>
          </div>
          <div :class="{'path-between-rows right': !(index % 2), 'path-between-rows left': !!(index % 2)}" v-if="index !== articles.length -1">
            <div :class='getRandomIconClass()'></div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import './../../../../assets/style/card.scss'

import indonesia from '../../../../constants/articlesListIndonesia.js'
import myanmar from '../../../../constants/articlesListMyanmar.js'
import countries from '../../../../constants/countries.js'

export default {
  data () {
    return {
        countries: countries
    }
  },
  computed: {
    articles: function () {
      if (this.$route.params.countryName === 'indonesie') {
        return [ ...indonesia ]
      }
      if (this.$route.params.countryName === 'myanmar') {
        return [ ...myanmar ]
      }
      return [ ]
    },
    countryName: function () {
      return countries.find(country => country.key === this.$route.params.countryName).name
    }
  },
  methods: {
    getUrl (articleName) {
      return `https://res.cloudinary.com/djchx0gtn/image/upload/v1619553336/article/${articleName.toLowerCase()}/${articleName.toLowerCase()}_sticker.jpg`
    },
    getRandomIconClass() {
      const randomBoolean = Math.random() <= 0.6;
      const icons = ['camper', 'bus', 'swimming-guy', 'boat', 'plane']
      if (randomBoolean) {
        return icons[Math.floor(Math.random() * icons.length)];
      }
    }
  },
  head () {
      const title = `Liste des articles en ${this.countryName}`
      return {
        title: `${title} | Bob & Pesto`,
        meta: this.$addMetaData(
          {
            description: `La liste de nos articles en ${this.countryName}`,
            image: { src: `pays/${this.$route.params.countryName}`, alt: `Paysage décrivant le pays correspondant: ${this.countryName}` },
            title: `${title} | Bob & Pesto`,
            type: 'website',
            url: 'pays/' + this.$route.params.countryName,
          },
          true
        )
      }
    },
}
</script>

<style lang="scss">
  .article-image {
    height: 80%;
    width: 100%;
    border-radius: 5px 5px 0 0;

    .image{
      height: 100%;
      border-radius: 5px 5px 0 0;
      width: 100%;
      object-fit: cover;
    }
  }

  .card {
    z-index: 2;
  }

  .card-title-container {
    height: 100%;
    width: 100%;
    border-top: 2px solid #1C1C1C;

    .card-title {
      display: flex;
      align-items: center;
      height: 100%;

      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .coutry-articles-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 170px 200px;
    grid-column-gap: 145px;

    @media screen and (min-width: 1200px) {
      & > :nth-child(even).last {
        grid-column: 3;
      }
    }

    .empty-div-with-path {

      &:not(:nth-child(3n -2)) {
        display: none;
        &.last{
          display: unset;
          visibility: hidden;
        }
      }

      grid-column: span 3;
      position: relative;

      > .first-path-between-columns {
        position: absolute;
        background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/path_between_columns.svg');
        width: 349px;
        height: 68px;
        left: 20%;
        bottom: 10px;
        transform: scale(-1.2);

        .swimming-guy {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/swimming.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7, -0.7) rotate(-20deg) translate(60px, -70px);
          }
          &.to-right {
            transform: scale(0.7) rotate(170deg) translate(100px, -65px);
          }
        }

        .camper {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/camper_van.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7, -0.7) rotate(-20deg) translate(60px, -72px);
          }
          &.to-right {
            transform: scale(0.7) rotate(170deg) translate(100px, -63px);
          }
        }

        .boat {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/boat.svg');
          height: 100%;
          &.to-right {
            transform: scale(-0.7) rotate(-20deg) translateY(-80px) translateX(70px);
          }
          &.to-left {
            transform: scale(0.7, -0.7) rotate(10deg) translateY(-65px) translateX(180px);
          }
        }

        .plane {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/plane.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7, -0.7) rotate(-25deg) translateY(-75px) translateX(90px);
          }
          &.to-right{
            transform: scale(-0.7, -0.7) rotate(-20deg) translateY(-75px) translateX(80px);
          }
        }

        .bus {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/bus.svg');
          height: 100%;
          &.to-left {
            transform: scale(-0.7) rotate(-18deg) translateY(-72px) translateX(70px);
          }
          &.to-right {
            transform: scale(0.7, -0.7) rotate(3deg) translateY(-57px) translateX(180px);
          }
        }
      }

      > .second-path-between-columns {
        position: absolute;
        background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/path_between_columns.svg');
        width: 349px;
        height: 68px;
        left: 60%;
        top: 10px;
        transform: scale(-1.2, 1.2);

        .boat {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/boat.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7) rotate(17deg) translateY(40px) translateX(70px);
          }
          &.to-right {
            transform: scale(-0.7, 0.7) rotate(25deg) translateY(55px) translateX(50px);
          }
        }

        .bus {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/bus.svg');
          height: 100%;
          &.to-left {
            transform: scale(-0.7, 0.7) rotate(22deg) translateY(57px) translateX(50px);
          }
          &.to-right {
            transform: scale(0.7) rotate(17deg) translateY(45px) translateX(70px);
          }
        }

        .plane {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/plane.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7) rotate(-15deg) translateY(40px) translateX(180px);
          }
          &.to-right {
            transform: scale(0.7, -0.7) rotate(165deg) translateY(40px) translateX(180px);
          }
        }

        .swimming-guy {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/swimming.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7) rotate(-10deg) translateY(37px) translateX(180px);
          }
          &.to-right {
            transform: scale(0.7, -0.7) rotate(170deg) translateY(35px) translateX(180px);
          }
        }

        .camper {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/camper_van.svg');
          height: 100%;
          &.to-left {
            transform: scale(0.7) rotate(-10deg) translateY(37px) translateX(180px);
          }
          &.to-right {
            transform: scale(0.7, -0.7) rotate(170deg) translateY(35px) translateX(180px);
          }
        }
      }

      > .path-between-rows {
        position: absolute;
        background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/path_between_rows.svg');
        width: 135px;
        height: 270px;

        &.right {
          right: 0;
          top: 10px;
          transform: scale(1.2);
        }

        &.left {
          left: 0;
          top: 10px;
          transform: scale(1.2, -1.2) rotate(180deg);
        }

        .boat {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/boat.svg');
          height: 100%;
          transform: scale(0.7, -0.7) rotate(-125deg) translateY(83px) translateX(50px);
        }

        .plane {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/plane.svg');
          height: 100%;
          transform: scale(-0.7, 0.7) rotate(58deg) translateY(90px) translateX(50px);
        }

        .bus {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/bus.svg');
          height: 100%;
          transform: scale(0.7) rotate(-60deg) translateY(88px) translateX(50px);
        }

        .camper {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/camper_van.svg');
          height: 100%;
          transform: scale(-0.7, 0.7) rotate(58deg) translateY(86px) translateX(50px);
        }

        .swimming-guy {
          background-image: url('https://res.cloudinary.com/djchx0gtn/image/upload/v1602403100/swimming.svg');
          height: 100%;
          transform: scale(-0.7, 0.7) rotate(58deg) translateY(85px) translateX(50px);
        }
      }
    }

  }

 .coutry-articles-container {
    .no-article {
      justify-content: center;
      height: 70vh;
      display: flex;
      align-items: center;
      width: 100vw;
    }

    .country-title {
      text-align: center;
      font-family: Dosis, sans-serif;
      font-size: 3.2rem;
    }
  }

/** Medium screen **/
@media screen and (max-width: 1200px) {
  .coutry-articles-container {
    .country-title {
      margin-top: 2rem;
    }
  }

  .coutry-articles-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
    grid-auto-rows: 150px;
    grid-column-gap: initial;
    grid-row-gap: 75px;
    grid-column-gap: 20px;
    margin: 50px 0;

    .card {
        border-radius: 100%;
        background-color: unset;
        box-shadow: unset;
        &:hover {
          box-shadow: unset;
        }

      .article-image {
        border-radius: 100%;
        height: 150px;
        width: 150px;
        margin: 0 auto;

        .image{
        object-fit: none;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          border-radius: 100%;
        }
      }
      .card-title-container {
        position: absolute;
        bottom: -40px;
        border: none;
        height: 40px;
        .card-title {
          font-size: 1rem;
        }
      }
    }

    .empty-div-with-path.empty-div-with-path.empty-div-with-path {
      display: none;
    }
  }
}

/** Small screen **/
@media (max-width: 500px) {
  .coutry-articles-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
 .coutry-articles-container .no-article {
    text-align: center;
    width: 100%;
  }
}
</style>
